{% extends "layout.html" %}
{% block content %}
<style>
    @media (max-width: 991px)  {
        .mobtable td:nth-of-type(1):before { content: "Datum"; }
        .mobtable td:nth-of-type(2):before { content: "Razred"; }
        .mobtable td:nth-of-type(3):before { content: "Odeljenje"; }
        .mobtable td:nth-of-type(4):before { content: "Detalji usluge"; }
        .mobtable td:nth-of-type(5):before { content: "Svrha uplate"; }
        .mobtable td:nth-of-type(6):before { content: "Akcije"; }
    }
</style>
<div class="row align-items-end">
    <div class="col">
        <label for="searchRazred">Pretraga po razredu:</label>
        <select id="searchRazred" class="form-select">
            {% if razred|string == "" %}
                <option value="">Svi razredi</option>
                {% if school %}
                    {% if school.has_preschool %}
                        {% for class in range(school.broj_razreda + 1) %}
                            <option value="{{ class }}">{{ class }}</option>
                        {% endfor %}
                    {% else %}
                        {% for class in range(1, school.broj_razreda + 1) %}
                            <option value="{{ class }}">{{ class }}</option>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for class in range(9) %}
                        <option value="{{ class }}">{{ class }}</option>
                    {% endfor %}
                {% endif %}
            {% else %}
                <option value="">Svi razredi</option>
                {% if school %}
                    {% if school.has_preschool %}
                        {% for class in range(school.broj_razreda + 1) %}
                            {% if class|string == razred|string %}
                                <option value="{{ class }}" selected>{{ class }}</option>
                            {% else %}
                                <option value="{{ class }}">{{ class }}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for class in range(1, school.broj_razreda + 1) %}
                            {% if class|string == razred|string %}
                                <option value="{{ class }}" selected>{{ class }}</option>
                            {% else %}
                                <option value="{{ class }}">{{ class }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for class in range(9) %}
                        {% if class|string == razred|string %}
                            <option value="{{ class }}" selected>{{ class }}</option>
                        {% else %}
                            <option value="{{ class }}">{{ class }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </select>
    </div>    
    <div class="col">
        <label for="searchOdeljenje">Pretraga po odeljenju:</label>
        <select id="searchOdeljenje" class="form-select">
            {% if odeljenje|string == "" %}
                <option value="">Sva odeljenja</option>
                {% if school %}
                    {% for section in range(school.broj_odeljenja + 1) %}
                        <option value="{{ section }}">{{ section }}</option>
                    {% endfor %}
                {% else %}
                    {% for section in range(0,17) %}
                        <option value="{{ section }}">{{ section }}</option>
                    {% endfor %}
                {% endif %}
            {% else %}
                <option value="">Sva odeljenja</option>
                {% if school %}
                    {% for section in range(school.broj_odeljenja + 1) %}
                        {% if section|string == odeljenje|string %}
                            <option value="{{ section }}" selected>{{ section }}</option>
                        {% else %}
                            <option value="{{ section }}">{{ section }}</option>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for section in range(15) %}
                        {% if section|string == odeljenje|string %}
                            <option value="{{ section }}" selected>{{ section }}</option>
                        {% else %}
                            <option value="{{ section }}">{{ section }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </select>
    </div>
    <div class="col">
        <label for="start-date" class="form-label">Početni datum:</label>
        <input class="form-control" type="date" id="start-date" name="start-date" value="{{ start_date }}">
    </div>
    <div class="col">
        <label for="end-date" class="form-label">Krajnji datum:</label>
        <input class="form-control" type="date" id="end-date" name="end-date" value="{{ end_date }}">
    </div>
    <div class="col">
        <a class="btn btn-danger" href="./debts_archive_list">Reset filtera</a>
    </div>
</div>
<hr>
<table id="data" class="table table-striped dataTable no-footer invoices mobtable" role="grid">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Datum_python</th>
            <th>Razred</th>
            <th>Odeljenje</th>
            <th>Detalji usluge</th>
            <th>Svrha uplate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for debt in debts %}
        <tr>
            <td>{{ debt.student_debt_date.strftime('%d.%m.%Y.') }}</td>
            <td>{{ debt.student_debt_date }}</td>
            <td>{{ debt.debt_class }}</td>
            <td>{{ debt.debt_section }}</td>
            <td>{{ debt.student_debt_service_item.service_item_service.service_name }} - {{ debt.student_debt_service_item.service_item_name }}</td>
            <td>{{ debt.purpose_of_payment }}</td>
            <td>
                <a href="{{url_for('transactions.debt_archive', debt_id=debt.id)}}" class="btn-x btn-primary-x loading" title="Izmeni"><i class="fa fa-edit awesomeedit loading" aria-hidden="true"></i></a>
                <a href="" class="btn-x btn-danger-x" data-toggle="modal" data-target="#confirmDeleteModal" data-debt-id="{{ debt.id }}" title="Obriši"><i class="fa-regular fa-trash-can awesomedelete" aria-hidden="true"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Potvrda brisanja naloga: <span id="debtIdPlaceholder"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Da li ste sigurni da želite da izbrišete nalog? Sva zaduženja učenika će biti izbrisana.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustanite</button>
                <button type="button" class="btn btn-danger loading" id="confirmDeleteButton">Izbrišite</button>
            </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function () {
        table = $('#data').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
            },
            "order": [[1, 'desc']],
            // NOVO: Čuvanje stanja tabele
            "stateSave": true,
            "stateDuration": 900, // 15 minuta (900 sekundi)
            "columnDefs": [
                { "targets": [1], "visible": false }
            ]
        });
        // Filtriranje po razredu
        $('#searchRazred').on('change', function () {
            var selectedRazred = $(this).val();
            
            // Provera da li je izabrana vrednost
            if (selectedRazred === '') {
                table.column(2).search('').draw();
            } else {
                table.column(2).search(selectedRazred).draw();
            }
        });

        // Filtriranje po odeljenju
        $('#searchOdeljenje').on('change', function () {
            var selectedOdeljenje = $(this).val();
            
            // Provera da li je izabrana vrednost
            if (selectedOdeljenje === '') {
                table.column(3).search('').draw();
            } else {
                table.column(3).search(selectedOdeljenje).draw();
            }
        });

        // Osluškivanje klika na link "Izbrišite" u tabeli
        $('a.btn-danger-x').on('click', function () {
            var debtId = $(this).data('debt-id'); // Uzimanje vrednosti atributa 'data-debt-id'
            $('#debtIdPlaceholder').text(debtId); // Postavljanje vrednosti u modalu

            // Postavljanje linka za brisanje u dugme "Izbriši" u modalu
            var deleteLink = './debt_archive_delete/' + debtId;
            console.log('link za brisanje iz tabele: ', deleteLink)
            $('#confirmDeleteButton').attr('data-delete-link', deleteLink);
        });

        // Osluškivanje klika na dugme "Izbriši" u modalu
        $('#confirmDeleteButton').on('click', function () {
            // Ovde možete implementirati kod za brisanje nalog sa servera koristeći debtId
            // Na primer, možete koristiti AJAX zahtev da obavite brisanje bez osvežavanja cele stranice
            var debtId = $('#debtIdPlaceholder').text();
            console.log('Brisanje nalog sa ID-jem: ' + debtId);
            var deleteLink = $(this).data('delete-link');
            console.log('linka za brisanje iz modala: ', deleteLink)
            window.location.href = deleteLink; // Preusmeravanje na link za brisanje
        });
    })
</script>
<script>
    // Funkcija koja se poziva pri promeni datuma
    function handleDateChange() {
        var startDate = document.getElementById("start-date").value;
        var endDate = document.getElementById("end-date").value;
        var url = "{{ url_for('transactions.debts_archive_list') }}?start_date=" + startDate + "&end_date=" + endDate;
        window.location.href = url; // Ponovno učitavanje stranice sa novim vrednostima datuma
        
    }

    // Dodavanje osluškivača događaja za promenu datuma
    document.getElementById("start-date").addEventListener("change", handleDateChange);
    document.getElementById("end-date").addEventListener("change", handleDateChange);
</script>
{% endblock %}