{% extends "layout.html" %}
{% block content %}
<h1>Razredni starešina: {{ teacher.teacher_name }} {{ teacher.teacher_surname }}</h1>
<div class="form-group" style="display: inline-block;">
    <label for="classes" class="form-control-label">Razred</label>
    <input id="classes" name="classes" type="text" class="form-control" value="{{ debt.debt_class }}" disabled>
</div>
<div class="form-group" style="display: inline-block;">
    <label for="section" class="form-control-label">Odeljenje</label>
    <input id="section" name="section" type="text" class="form-control" value="{{ debt.debt_section }}" disabled>
</div>
<div class="form-group" style="display: inline-block;">
    <label for="installment" class="form-control-label">Rata</label>
    <input id="installment" name="installment" type="text" class="form-control" value="{{ debt.installment_number }}" disabled>
</div>
<div class="form-group" style="display: inline-block;">
    <label for="today_date" class="form-control-label">Datum zaduživanja</label>
    <input id="today_date" name="today_date" type="text" class="form-control" value="{{ debt.student_debt_date.strftime('%d.%m.%Y.') }}" disabled>
</div>
<hr>
<table id="data" class="table table-striped dataTable no-footer invoices" role="grid">
    <thead>
        <tr>
            <th>Učenik</th>
            <th>Poziv na broj</th>
            <th>Detalji usluge</th>
            <th>Količina</th>
            <th>Iznos</th>
            <th>Olakšica</th>
            <th>Iznos zaduženja</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td><a class="btn btn-primary" href="{{url_for('overviews.overview_student', student_id=record.transaction_record_student.id)}}">{{ record.transaction_record_student.student_name }} {{ record.transaction_record_student.student_surname }}</a></td>
            <td>{{ "{:04d}-{:03d}".format(record.student_id, record.service_item_id) }}</td>
            <td>{{ record.transaction_record_student_debt.student_debt_service_item.service_item_service.service_name }} - {{ record.transaction_record_student_debt.student_debt_service_item.service_item_name }}</td>
            <td id="kolicina_{{ record.transaction_record_student.id }}" contenteditable="true" class="edit-cell" data-id="{{ record.transaction_record_student.id }}">{{ record.student_debt_amount }}</td>
            <td id="installment_{{ record.transaction_record_student.id }}">{{ record.studetn_debt_installment_value }}</td>
            <td id="olaksice_{{ record.transaction_record_student.id }}" contenteditable="true" class="edit-cell" data-id="{{ record.transaction_record_student.id }}">{{ record.student_debt_discount}}</td>
            <td id="iznos_zaduženja_{{ record.transaction_record_student.id }}" class="iznos-zaduzenja">{{ record.student_debt_amount * record.studetn_debt_installment_value - record.student_debt_discount}}</td>
            <td>{% if record.student_debt_amount > 0 %}<a class="btn btn-primary" href="{{url_for('transactions.single_payment_slip', record_id = record.id)}}" target="_blank">generišite uplatnicu</a>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="form-group">
    <label for="purpose_of_payment" class="form-control-label">Svrha uplate</label>
    <input type="text" id="purpose_of_payment" class="form-control form-control-lg" value="{{ purpose_of_payment }}">
</div>
<div class="form-group">
    <button class="btn btn-info" id="save_button" name="save_button">Sačuvajte</button>
    <a class="btn btn-primary" href="{{ url_for('static', filename='payment_slips/uplatnice.pdf') }}" target="_blank">gen sve</a>
</div>

{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function() {
        // Kreiranje tabele
        var table = $('#data').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
            }
        });
        // Postavljanje događaja nakon izmjene ćelija "Količina" i "Olakšica"
        $('.edit-cell').on('input', function() {
            var id = $(this).data('id');
            var kolicina = parseFloat($('#kolicina_' + id).text());
            var olaksice = parseFloat($('#olaksice_' + id).text());
            var iznosRate = parseFloat($('#installment_' + id).text());
            console.log('test vrednosti radte: ', parseFloat($('#installment').val()))
            var iznosZaduzenja = (kolicina * iznosRate) - olaksice;
            $('#iznos_zaduženja_' + id).text(iznosZaduzenja.toFixed(2));
        });
        const buttonSave = $('#save_button');
        const buttonPrint = $('#print_button');
        const inputFieldPurposeOfPayment = $('#purpose_of_payment');

        buttonSave.on('click', (event) => {
            console.log('test radi - pritisnuto je dugme sačuvaj. nastavi kodiranje')
            var studentDebtId;

            var url = new URL(window.location.href); // Dohvaćanje trenutnog URL-a stranice
            var pathname = url.pathname; // Dohvaćanje putanje URL-a
            var parts = pathname.split('/'); // Razdvajanje putanje na dijelove koristeći "/"
            if (parts.length > 0) {
                var lastPart = parts[parts.length - 1]; // Dohvaćanje posljednjeg dijela putanje
                studentDebtId = parseInt(lastPart); // Pretvaranje posljednjeg dijela u broj
            }
            console.log(studentDebtId); // Ispis studentDebtId u konzoli
            var table = $('#data');
            var rows = table.find('tr');
            console.log('redovi: ', rows)
            console.log('broj redova: ', rows.length)
            var records = []
            for (var i = 1; i < rows.length; i++) {
                // var studentIdCell = rows[i].querySelector('[id^="poziv_na_broj_"]');
                // var studentId = studentIdCell.id.split('_')[3];
                // console.log('student_id: ', studentId)
                
                var quantityCell = rows[i].querySelector('[id^="kolicina_"]');
                var quantity = parseInt(quantityCell.textContent); // ovaj podatak mi treba
                console.log('red: ', quantityCell);
                console.log('red, vrednost količina: ', quantity);

                var studentId = parseInt(quantityCell.getAttribute("id").split("_")[1])
                console.log('student_id: ', studentId)

                // var installmentCell = rows[i].querySelector('[id^="installment_"]');
                // var installmentValue = parseFloat(installmentCell.textContent);
                // console.log('red, vrednost iznos: ', installmentValue);

                var olaksicaCell = rows[i].querySelector('[id^="olaksice_"]');
                var olaksica = parseFloat(olaksicaCell.textContent);
                console.log('red, vrednost olakšica: ', olaksica);

                records.push({
                    'student_id': studentId,
                    'amount': quantity,
                    'discount': olaksica
                })
            }
            console.log('rezultati: ', records)
            const output = {
                'student_debt_id': studentDebtId,
                'purpose_of_payment': inputFieldPurposeOfPayment.val(),
                'records': records,
            }
            console.log('output: ', output)
            console.log(JSON.stringify(output));
            $.ajax({
                url: '/submit_records',
                method: 'POST',
                data: JSON.stringify(output),
                contentType: 'application/json',
                success: function(response) {
                    // Uspešan AJAX zahtjev
                    // Preusmjeravanje na edit debt stranicu
                    var editDebtUrl = "{{ url_for('transactions.debt_archive', debt_id='1') }}";
                    editDebtUrl = editDebtUrl.replace('1', response);
                    window.location.href = editDebtUrl;
                }
            })
        })
    });
</script>


{% endblock %}