{% extends "layout.html" %}
{% block content %}
<h2 class="mb-4 mt-4" style="text-align: center;  font-size: x-large; padding-top: 50px;">Brzi linkovi</h2>
<div class="container">
    <div class="row mb-2">
        <div class="home-icon-row">
            <div class="home-icon-box">
                <a href="{{url_for('transactions.student_debts')}}"><img src="{{ url_for('static', filename='img/icon-zaduzivanje-ucenika-color.png') }}"></a>
                <p>Zaduživanje učenika</p>
            </div>
            <div class="home-icon-box">
                <a href="{{ url_for('transactions.posting_payment') }}"><img src="{{ url_for('static', filename='img/icon-knjizenje-uplata-color.png') }}"></a>
                <p>Knjiženje uplata</p>
            </div>
            <div class="home-icon-box">
                <a href="{{ url_for('overviews.overview_students') }}"><img src="{{ url_for('static', filename='img/icon-pregled-po-uceniku-color.png') }}"></a>
                <p>Pregled po učeniku</p>
            </div>
            <div class="home-icon-box">
                <a id="school" name="school" href="{{ url_for('overviews.overview_sections') }}"><img src="{{ url_for('static', filename='img/icon-pregled-skole-color.png') }}"></a>
                <p>Pregled škole</p>
            </div>
            <div class="home-icon-box">
                <a href="{{ url_for('transactions.debts_archive_list') }}"><img src="{{ url_for('static', filename='img/icon-arhiva-naloga-color.png') }}"></a>
                <p>Arhiva naloga</p>
            </div>
            <div class="home-icon-box">
                <a href="{{ url_for('transactions.payments_archive_list') }}"><img src="{{ url_for('static', filename='img/icon-arhiva-izvoda-color.png') }}"></a>
                <p>Arhiva izvoda</p>
            </div>
        </div>
    <div class="loading-overlay">
        <div class="spinner"></div>
        <div>  Učitava se stranica. Molim Vas sačekajte...</div>
    </div>
</div>
{% endblock content%}

{% block scripts %}

{% endblock %}