<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mikicustom.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/eaa4d75133.js" crossorigin="anonymous"></script>

    <!-- selet2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    

    {% if title %}
      <title>OneTouch - {{ title }}</title>
    {% else %}
      <title>OneTouch</title>
    {% endif %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">{{ current_user.name }}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Odjavite se</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('users.login') }}"> Prijavite se</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar" class>
        <!--
        <div class="custom-menu">
          <button type="button" id="sidebarColapse" class="btn btn-primary">
            <i class="fa fa-bars">
              
            </i>
            <span class="sr-only">Togle Menu</span>
          </button>
        </div>
        -->
        <div class="p-4 pt-5">
          <h1>
            <a href="#" class="logo">Đačke Uplate</a>
          </h1>
 <!--     <ul class="list-unstyled components mb-5">
            <li>
              <a href="{{ url_for('main.home') }}">Početna strana</a>
            </li>
            <li class="active">
              <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-togle">Unos podataka #</a>
              <a class="nav-item nav-link" href="{{ url_for('students.student_list') }}">Učenici</a>
              <a class="nav-item nav-link" href="{{ url_for('teachers.teacher_list') }}">Odeljenske starešine</a>
              <a class="nav-item nav-link" href="{{ url_for('schools.school_profile') }}">Podaci škole</a>
              <a class="nav-item nav-link" href="{{ url_for('suppliers.supplier_list') }}">Dobavljači</a>
              <a class="nav-item nav-link" href="{{ url_for('suppliers.service_list') }}">Tip usluge</a>
              <a class="nav-item nav-link" href="{{ url_for('suppliers.service_profile_list') }}">Detalji usluge</a>
            </li>
            <li class="active">
              <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-togle">Knjiženje #</a>
              <a class="nav-item nav-link" href="{{ url_for('transactions.student_debts') }}">Zaduživanje učenika</a>
              <a class="nav-item nav-link" href="{{ url_for('transactions.posting_payment') }}">Knjiženje uplata</a>
            </li>
            <li class="active">
              <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-togle">Pregled #</a>
              <a class="nav-item nav-link" href="{{ url_for('overviews.overview_students') }}">Učenik</a>
              <a class="nav-item nav-link" href="{{ url_for('overviews.overview_sections') }}">Škola</a>
            </li>
            <li class="active">
              <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-togle">Arhiva #</a>
              <a class="nav-item nav-link" href="{{ url_for('transactions.debts_archive_list') }}">Arhiva naloga</a>
              <a class="nav-item nav-link" href="{{ url_for('transactions.payments_archive_list') }}">Arhiva izvoda</a>
            </li>
          </ul>-->
          <div class="accordion leftcolacc" id="accordionMenu">
            <a href="{{ url_for('main.home') }}" class="homelink">Početna strana</a>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Unos podataka
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionMenu">
                <div class="accordion-body">
                  <a class="nav-item nav-link" href="{{ url_for('students.student_list') }}">Učenici</a>
                  <a class="nav-item nav-link" href="{{ url_for('teachers.teacher_list') }}">Odeljenske starešine</a>
                  <a class="nav-item nav-link" href="{{ url_for('schools.school_profile') }}">Podaci škole</a>
                  <a class="nav-item nav-link" href="{{ url_for('suppliers.supplier_list') }}">Dobavljači</a>
                  <a class="nav-item nav-link" href="{{ url_for('suppliers.service_list') }}">Tip usluge</a>
                  <a class="nav-item nav-link" href="{{ url_for('suppliers.service_profile_list') }}">Detalji usluge</a>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Knjiženje
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionMenu">
                <div class="accordion-body">
                  <a class="nav-item nav-link" href="{{ url_for('transactions.student_debts') }}">Zaduživanje učenika</a>
                  <a class="nav-item nav-link" href="{{ url_for('transactions.posting_payment') }}">Knjiženje uplata</a>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Pregled
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionMenu">
                <div class="accordion-body">
                  <a class="nav-item nav-link" href="{{ url_for('overviews.overview_students') }}">Učenik</a>
                  <a class="nav-item nav-link" href="{{ url_for('overviews.overview_sections') }}">Škola</a>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Arhiva
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionMenu">
                <div class="accordion-body">
                  <a class="nav-item nav-link" href="{{ url_for('transactions.debts_archive_list') }}">Arhiva naloga</a>
                  <a class="nav-item nav-link" href="{{ url_for('transactions.payments_archive_list') }}">Arhiva izvoda</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{ legend }}</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </div>
        </div>
      </main>
      
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <!-- <script type="text/javascript" charset="utf8" src="file:///D:/Mihas/Programming/ython/Projects/PutniNalozi/putninalozi/js/jquery.dataTables.js"></script> -->

    <!-- "file:///D:/Mihas/Programming/ython/Projects/PutniNalozi/putninalozi/js/jquery.dataTables.js" -->

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    {% block scripts %}{% endblock %}
  </body>
</html>
