{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <label for="class_" class="form-label">Razred:</label>
        <input class="form-control mb-2" type="text" id="class_" name="class_" value="{{ student.student_class }}" readonly>
    </div>
    <div class="col">
        <label for="student_section" class="form-label">Odeljenje:</label>
        <input class="form-control mb-2" type="text" id="student_section" name="student_section" value="{{ student.student_section }}" readonly>
    </div>
    <div class="col">
        <label for="start-date" class="form-label">Početni datum:</label>
        <input class="form-control mb-2" type="date" id="start-date" name="start-date" value="{{ start_date }}">
    </div>
    <div class="col">
        <label for="end-date" class="form-label">Krajnji datum:</label>
        <input class="form-control mb-2" type="date" id="end-date" name="end-date" value="{{ end_date }}">
    </div>
    <div class="col">
        <a class="btn btn-primary mt-4" id="print-report" name="print-report" href="{{ url_for('static', filename='reports/report_student.pdf') }}" target="_blank">Štampa pregleda</a>
    </div>
</div>
{% for service in unique_services_list %}
<hr>
<div class="btn-group" role="group">
    {% if service['service_debt_id'] is not none %}
        <a class="btn btn-info loading" href="{{url_for('transactions.debt_archive', debt_id=service['service_debt_id'])}}">{{'{:03d}'.format(service['id'])}}</a>
        <a class="btn btn-primary loading" href="{{url_for('transactions.debt_archive', debt_id=service['service_debt_id'])}}">{{ service['service_name'] }}</a>
    {% else %}
        <span class="btn btn-info loading disabled">{{'{:03d}'.format(service['id'])}}</span>
        <span class="btn btn-primary loading disabled">{{ service['service_name'] }}</span>
    {% endif %}
</div>

<table id="data" class="table table-striped dataTable no-footer invoices" role="grid">
    <thead>
        <tr>
            <th style="width: 80px;">Datum</th>
            <th>Opis usluge</th>
            <th style="width: 80px;">Zaduženje</th>
            <th style="width: 80px;">Uplate</th>
            <th style="width: 80px;">Saldo</th>
            <th style="width: 20px;"></th>
        </tr>
    </thead>
    <tbody>
        {% for record in data %}
        {% if record['service_item_id'] == service['id'] %}
        {% if record['saldo'] < 0 %}
        <tr class="negativna-vrednost">
        {% else %}
        <tr>
        {% endif %} 
            <td>{{ record['date'].strftime('%d.%m.%Y.') }}</td>
            <td>{{ record['description'] }}</td>
            <td style="text-align: right;">{{ "{:.2f}".format(record['debt_amount']) }}</td>
            <td style="text-align: right;">{{ "{:.2f}".format(record['payment_amount']) }}</td>
            <td style="text-align: right;">{{ "{:.2f}".format(record['saldo']) }}</td>

            <td style="text-align: center;">
                {% if record['debt_amount'] > 0 %} 
                <a class="btn-x btn-primary-x" href="{{url_for('transactions.single_payment_slip', record_id = record.id)}}" target="_blank" title="Generišite uplaticu"><i class="fa-solid fa-print awesomeedit"></i></a> 
                {% else %} 
                <a href="{{ url_for('transactions.payment_archive', payment_id=record['student_payment_id'] ) }}" class="btn-x btn-primary-x" title="Otvorite izvod"><i class="fa-solid fa-file-lines awesomeedit"></i></a> 
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endfor %}
<hr>
<div class="row">
    <div class="col">
        <p>Ukupno zaduženje: <span id="zaduzenjeSum"></span></p>
        <p>Ukupne uplate: <span id="uplateSum"></span></p>
        <p>Ukupni saldo: <span id="saldoSum"></span></p>
    </div>
    <div class="col">
        <p>Zaduženje za filtrirani period: <span id="zaduzenjeFilterSum"></span></p>
        <p>Uplate za filtrirani period: <span id="uplateFilterSum"></span></p>
        <p>Saldo za filtrirani period: <span id="saldoFilterSum"></span></p>
    </div>
</div>
<div class="loading-overlay">
    <div class="spinner"></div>
    <div>   Molim Vas sačekajte...</div>
</div>

{% endblock content%}
{% block scripts %}
<script>
    // Dobijanje reference na HTML elemente koji će prikazivati sume
    var zaduzenjeSumElement = document.getElementById('zaduzenjeSum');
    var uplateSumElement = document.getElementById('uplateSum');
    var saldoSumElement = document.getElementById('saldoSum');

    var zaduzenjeFilterSumElement = document.getElementById('zaduzenjeFilterSum');
    var uplateFilterSumElement = document.getElementById('uplateFilterSum');
    var saldoFilterSumElement = document.getElementById('saldoFilterSum');

    var pocetniDatum = new Date(document.getElementById('start-date').value);
    var krajnjiDatum = new Date(document.getElementById('end-date').value);

    // Formatiranje pocetniDatum i krajnjiDatum bez vremenskog dela
    pocetniDatum.setHours(0, 0, 0, 0);
    krajnjiDatum.setHours(0, 0, 0, 0);

    // Izračunavanje sumi za svaki ključ
    var data = JSON.parse('{{ data | tojson | safe }}');
    var zaduzenjeSum = 0;
    var uplateSum = 0;
    var saldoSum = 0;

    var zaduzenjeFilterSum = 0;
    var uplateFilterSum = 0;
    var saldoFilterSum = 0;

    for (var i = 0; i < data.length; i++) {
        zaduzenjeSum += data[i].debt_amount;
        uplateSum += data[i].payment_amount;
        console.log('datum: ', data[i].date)
        console.log('početni datum: ', pocetniDatum)
        console.log('krajnji datum: ', krajnjiDatum)
        
        var currentDate = new Date(data[i].date);
        currentDate.setHours(0, 0, 0, 0);

        if (currentDate >= pocetniDatum && currentDate <= krajnjiDatum) {
            zaduzenjeFilterSum += data[i].debt_amount;
            uplateFilterSum += data[i].payment_amount;
        }
    }

    saldoSum = zaduzenjeSum - uplateSum;
    saldoFilterSum = zaduzenjeFilterSum - uplateFilterSum;

    // Prikazivanje suma u HTML-u
    zaduzenjeSumElement.textContent = zaduzenjeSum;
    uplateSumElement.textContent = uplateSum;
    saldoSumElement.textContent = saldoSum;

    zaduzenjeFilterSumElement.textContent = zaduzenjeFilterSum;
    uplateFilterSumElement.textContent = uplateFilterSum;
    saldoFilterSumElement.textContent = saldoFilterSum;


    // Funkcija koja se poziva pri promeni datuma
    function handleDateChange() {
        var startDate = document.getElementById("start-date").value;
        var endDate = document.getElementById("end-date").value;
        var currentUrl = window.location.href.split('?')[0];
        var url = currentUrl + "?start_date=" + startDate + "&end_date=" + endDate;
        window.location.href = url; // Ponovno učitavanje stranice sa novim vrednostima datuma
    }

    // Dodavanje osluškivača događaja za promenu datuma
    document.getElementById("start-date").addEventListener("change", handleDateChange);
    document.getElementById("end-date").addEventListener("change", handleDateChange);
</script>
{% endblock %}