{% extends "layout.html" %}
{% block content %}
<style>
    @media (max-width: 991px)  {
        .mobtable td:nth-of-type(1):before { content: "ID učenika"; }
        .mobtable td:nth-of-type(2):before { content: "Učenik"; }
        .mobtable td:nth-of-type(3):before { content: "Razred"; }
        .mobtable td:nth-of-type(4):before { content: "Odeljenje"; }
        .mobtable td:nth-of-type(5):before { content: "Zaduženje"; }
        .mobtable td:nth-of-type(6):before { content: "Uplate"; }
        .mobtable td:nth-of-type(7):before { content: "Saldo"; }
    }
</style>
<div class="row form-group align-items-end">
    <div class="form-check form-switch">
        {% if dugovanje %}
        <input class="form-check-input" type="checkbox" role="switch" id="debts" checked>
        {% else %}
        <input class="form-check-input" type="checkbox" role="switch" id="debts">
        {% endif %}
        <label class="form-check-label" for="debts">Dugovanja</label>
    </div>
    <div class="form-check form-switch">
        {% if preplata %}
        <input class="form-check-input" type="checkbox" role="switch" id="overpayments" checked>
        {% else %}
        <input class="form-check-input" type="checkbox" role="switch" id="overpayments">
        {% endif %}
        <label class="form-check-label" for="overpayments">Preplate</label>
    </div>
    <div class="col form-group">
        <label for="">Pretraga po usluzi</label>
        <select name="searchUsluga" id="searchUsluga" class="form-select">
            {% if service_id == "0" %}
                <option value="0" selected>Sve</option>
                {% for option in options %}
                    <option value="{{option['value']}}">{{option['label']}}</option>
                {% endfor %}
            {% else %}
                <option value="0">Sve</option>
                {% for option in options %}
                    {% if service_id == option['value'] %}
                        <option value="{{option['value']}}" selected>{{option['label']}}</option>
                    {% else %}
                        <option value="{{option['value']}}">{{option['label']}}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="col form-group">
        <label for="searchRazred">Pretraga po razredu:</label>
        <select id="searchRazred" class="form-select">
            {% if razred|string == "" %}
                <option value="">Svi razredi</option>
                {% for class in range(9) %}
                    <option value="{{ class }}">{{ class }}</option>
                {% endfor %}
            {% else %}
                <option value="">Svi razredi</option>
                {% for class in range(9) %}
                    {% if class|string == razred|string %}
                        <option value="{{ class }}" selected>{{ class }}</option>
                    {% else %}
                        <option value="{{ class }}">{{ class }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </select>
    </div>    
    <div class="col form-group">
        <label for="searchOdeljenje">Pretraga po odeljenju:</label>
        <select id="searchOdeljenje" class="form-select">
            {% if odeljenje|string == "" %}
                <option value="">Sva odeljenja</option>
                {% for section in range(0,17) %}
                    <option value="{{ section }}">{{ section }}</option>
                {% endfor %}
            {% else %}
                <option value="">Sva odeljenja</option>
                {% for section in range(15) %}
                    {% if section|string == odeljenje|string %}
                        <option value="{{ section }}" selected>{{ section }}</option>
                    {% else %}
                        <option value="{{ section }}">{{ section }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="col form-group">
        <label for="start-date" class="form-label">Početni datum:</label>
        <input class="form-control" type="date" id="start-date" name="start-date" value="{{ start_date }}" max="">
    </div>
    <div class="col form-group">
        <label for="end-date" class="form-label">Krajnji datum:</label>
        <input class="form-control" type="date" id="end-date" name="end-date" value="{{ end_date }}" min="">
    </div>
    <div class="col form-group">
        <a class="btn btn-danger" href="./overview_students">Reset filtera</a>
    </div>
    <div class="col form-group cstm-3">
        <!-- <a id="resetButton" class="btn btn-primary" href="{{ url_for('static', filename='reports/report_student_list.pdf') }}" target="_blank"><i class="fa-solid fa-print big-print"></i></a> -->
        <a id="resetButton" class="btn btn-primary" href="{{ url_for('transactions.get_report', filename='report_student_list.pdf') }}" target="_blank"><i class="fa-solid fa-print big-print"></i></a>
    </div>
    <hr>
</div>
<table id="data" class="table table-striped dataTable no-footer invoices mobtable" role="grid" aria-describedby="data_info" style="width: 968px;">
    <thead>
        <tr role="row">
            <th>ID učenika</th>
            <th>Učenik</th>
            <th style="width: 80px;">Razred</th>
            <th style="width: 80px;">Odeljenje</th>
            <th style="width: 80px;">Zaduženje</th>
            <th style="width: 80px;">Uplate</th>
            <th style="width: 80px;">Saldo</th>
            <th style="width: 40px;"></th>
        </tr>
    </thead>
    <tbody>
        {% for student in export_data %}
        <tr>
            <td>{{ "{:04d}".format(student['student_id']) }}</td>
            <td>{{ student['student_name'] }} {{ student['student_surname'] }}</td>
            <td style="text-align: center;">{{ student['student_class'] }}</td>
            <td style="text-align: center;">{{ student['student_section'] }}</td>
            <td style="text-align: right;">{{ "{:.2f}".format(student['student_debt']) }}</td>
            <td style="text-align: right;">{{ "{:.2f}".format(student['student_payment']) }}</td>
            <td style="text-align: right;">{{ "{:.2f}".format(student['saldo']) }}</td>
            <td style="text-align: center;"><a href="{{url_for('overviews.overview_student', student_id=student['student_id'])}}" class="btn-x btn-primary-x" title="Pregled kartice stanja"><i class="fa fa-magnifying-glass awesomeedit"></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>

<table id="data" class="table table-striped no-footer invoices mobtable" role="grid" aria-describedby="data_info" style="width: 968px;">
    <thead>
        <tr role="row">
            <th>Zaduženje:</th>
            <th>Uplate:</th>
            <th>Saldo:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span id="zaduzenjeSum"></span></td>
            <td><span id="uplateSum"></span></td>
            <td><span id="saldoSum"></span></td>
        </tr>
</table>
{% endblock content%}
{% block scripts %}
<script>
    // Dobijanje reference na HTML elemente koji će prikazivati sume
    var zaduzenjeSumElement = document.getElementById('zaduzenjeSum');
    var uplateSumElement = document.getElementById('uplateSum');
    var saldoSumElement = document.getElementById('saldoSum');
    var debtsCheckbox = document.getElementById('debts');
    var overpaymentsCheckbox = document.getElementById('overpayments');

    // Dodaj event listener za promene stanja prekidača 'debts'
    debtsCheckbox.addEventListener('change', function() {
        // Ako je 'debts' uključen, isključi 'overpayments'
        if (this.checked) {
            overpaymentsCheckbox.checked = false;
        }
    });

    // Dodaj event listener za promene stanja prekidača 'overpayments'
    overpaymentsCheckbox.addEventListener('change', function() {
        // Ako je 'overpayments' uključen, isključi 'debts'
        if (this.checked) {
            debtsCheckbox.checked = false;
        }
    });


    // Izračunavanje sumi za svaki ključ
    var data = JSON.parse('{{ export_data | tojson | safe }}');
    var zaduzenjeSum = 0;
    var uplateSum = 0;
    var saldoSum = 0;

    for (var i = 0; i < data.length; i++) {
        zaduzenjeSum += data[i].student_debt;
        uplateSum += data[i].student_payment;
        saldoSum += data[i].saldo;
    }

    // Prikazivanje suma u HTML-u
    zaduzenjeSumElement.textContent = zaduzenjeSum.toFixed(2);
    uplateSumElement.textContent = uplateSum.toFixed(2);
    saldoSumElement.textContent = saldoSum.toFixed(2);
    
    $(document).ready(function () {
        var table = $('#data').DataTable({
            // NOVO: Čuvanje stanja tabele
            "stateSave": true,
            "stateDuration": 900, // 15 minuta (900 sekundi)
            language: {
                    url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
                }
        });
        $('#searchUsluga').val('{{service_id}}')
        $('#searchRazred').on('change', function () {
            var selectedValue = $(this).val();
            table.column(2).search(selectedValue).draw();
        });

        $('#searchOdeljenje').on('change', function () {
            var selectedValue = $(this).val();
            table.column(3).search(selectedValue).draw();
        });

        // Funkcija koja se poziva pri promeni datuma, razreda, odeljenja
        function handleDateChange() {
            var razred = document.getElementById("searchRazred").value;
            var odeljenje = document.getElementById("searchOdeljenje").value;
            var startDate = document.getElementById("start-date").value;
            var endDate = document.getElementById("end-date").value;
            var serviceId = document.getElementById("searchUsluga").value;
            var debtsCheckbox = document.getElementById("debts").checked;
            var overpaymentsCheckbox = document.getElementById("overpayments").checked;
            console.log('id usluge: ', serviceId)
            var currentUrl = window.location.href.split('?')[0];
            var url = currentUrl + "?start_date=" + startDate + "&end_date=" + endDate + "&service_id=" + serviceId + "&razred=" + razred + "&odeljenje=" + odeljenje + "&debts=" + debtsCheckbox + "&overpayments=" + overpaymentsCheckbox;
            window.location.href = url; // Ponovno učitavanje stranice sa novim vrednostima datuma
        }

        // Dodavanje osluškivača događaja za promenu datuma
        document.getElementById("start-date").addEventListener("change", handleDateChange);
        document.getElementById("end-date").addEventListener("change", handleDateChange);
        document.getElementById("searchUsluga").addEventListener("change", handleDateChange);
        document.getElementById("searchRazred").addEventListener("change", handleDateChange);
        document.getElementById("searchOdeljenje").addEventListener("change", handleDateChange);
        document.getElementById("debts").addEventListener("change", handleDateChange);
        document.getElementById("overpayments").addEventListener("change", handleDateChange);
    });
</script>
{% endblock %}