{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <label for="class_" class="form-label">Razred:</label>
        <input class="form-control mb-2" type="text" id="class_" name="class_" value="{{ student.student_class }}" readonly>
    </div>
    <div class="col">
        <label for="student_section" class="form-label">Odeljenje:</label>
        <input class="form-control mb-2" type="text" id="student_section" name="student_section" value="{{ student.student_section }}" readonly>
    </div>
    <div class="col">
        <label for="start-date" class="form-label">Početni datum:</label>
        <input class="form-control mb-2" type="date" id="start-date" name="start-date" value="{{ start_date }}">
    </div>
    <div class="col">
        <label for="end-date" class="form-label">Krajnji datum:</label>
        <input class="form-control mb-4" type="date" id="end-date" name="end-date" value="{{ end_date }}">
    </div>
</div>
{% for service in unique_services_list %}
<hr>
    <div class="btn-group" role="group">
        <a class="btn btn-info" href="{{url_for('transactions.debt_archive', debt_id = service['service_debt_id'])}}">{{'{:03d}'.format(service['id'])}}</a>
        <a class="btn btn-primary" href="{{url_for('transactions.debt_archive', debt_id = service['service_debt_id'])}}">{{ service['service_name'] }}</a>
    </div>
    <table id="data" class="table table-striped dataTable no-footer invoices" role="grid">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Opis usluge</th>
                <th>Zaduženje</th>
                <th>Uplate</th>
                <th>Saldo</th>
                <th>Štampa</th>
            </tr>
        </thead>
        <tbody>
            {% for record in data %}
            {% if record['service_item_id'] == service['id'] %}
            <tr>
                <td>{{ record['date'].strftime('%d.%m.%Y.') }}</td>
                <td>{{ record['description'] }}</td>
                <td>{{ record['debt_amount'] }}</td>
                <td>{{ record['payment_amount'] }}</td>
                <td>{{ record['saldo'] }}</td>
                <td>
                    {% if record['debt_amount'] > 0 %} 
                    <a class="btn btn-primary" href="{{url_for('transactions.single_payment_slip', record_id = record.id)}}" target="_blank">generišite uplatnicu</a> 
                    {% else %} 
                    <a href="{{ url_for('transactions.payment_archive', payment_id=record['student_payment_id'] ) }}" class="btn btn-primary">Izvod: {{ record['student_payment_id'] }}</a> 
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    <hr>
    <div class="row">
        <div class="col">
            <p>Zaduženje: <span id="zaduzenjeSum"></span></p>
            <p>Uplate: <span id="uplateSum"></span></p>
            <p>Saldo: <span id="saldoSum"></span></p>
        </div>
        <div class="col">
            <p>Zaduženje: <span id="zaduzenjeFilterSum"></span></p>
            <p>Uplate: <span id="uplateFilterSum"></span></p>
            <p>Saldo: <span id="saldoFilterSum"></span></p>
        </div>
    </div>

{% endblock content%}
{% block scripts %}
<script>
    // Dobijanje reference na HTML elemente koji će prikazivati sume
    var zaduzenjeSumElement = document.getElementById('zaduzenjeSum');
    var uplateSumElement = document.getElementById('uplateSum');
    var saldoSumElement = document.getElementById('saldoSum');

    var zaduzenjeFilterSumElement = document.getElementById('zaduzenjeFilterSum');
    var uplateFilterSumElement = document.getElementById('uplateFilterSum');
    var saldoFilterSumElement = document.getElementById('saldoFilterSum');

    var pocetniDatum = new Date(document.getElementById('start-date').value);
    var krajnjiDatum = new Date(document.getElementById('end-date').value);

    // Formatiranje pocetniDatum i krajnjiDatum bez vremenskog dela
    pocetniDatum.setHours(0, 0, 0, 0);
    krajnjiDatum.setHours(0, 0, 0, 0);

    // Izračunavanje sumi za svaki ključ
    var data = JSON.parse('{{ data | tojson | safe }}');
    var zaduzenjeSum = 0;
    var uplateSum = 0;
    var saldoSum = 0;

    var zaduzenjeFilterSum = 0;
    var uplateFilterSum = 0;
    var saldoFilterSum = 0;

    for (var i = 0; i < data.length; i++) {
        zaduzenjeSum += data[i].debt_amount;
        uplateSum += data[i].payment_amount;
        console.log('datum: ', data[i].date)
        console.log('početni datum: ', pocetniDatum)
        console.log('krajnji datum: ', krajnjiDatum)
        
        var currentDate = new Date(data[i].date);
        currentDate.setHours(0, 0, 0, 0);

        if (currentDate >= pocetniDatum && currentDate <= krajnjiDatum) {
            zaduzenjeFilterSum += data[i].debt_amount;
            uplateFilterSum += data[i].payment_amount;
        }
    }

    saldoSum = zaduzenjeSum - uplateSum;
    saldoFilterSum = zaduzenjeFilterSum - uplateFilterSum;

    // Prikazivanje suma u HTML-u
    zaduzenjeSumElement.textContent = zaduzenjeSum;
    uplateSumElement.textContent = uplateSum;
    saldoSumElement.textContent = saldoSum;

    zaduzenjeFilterSumElement.textContent = zaduzenjeFilterSum;
    uplateFilterSumElement.textContent = uplateFilterSum;
    saldoFilterSumElement.textContent = saldoFilterSum;


    // Funkcija koja se poziva pri promeni datuma
    function handleDateChange() {
        var startDate = document.getElementById("start-date").value;
        var endDate = document.getElementById("end-date").value;
        var currentUrl = window.location.href.split('?')[0];
        var url = currentUrl + "?start_date=" + startDate + "&end_date=" + endDate;
        window.location.href = url; // Ponovno učitavanje stranice sa novim vrednostima datuma
    }

    // Dodavanje osluškivača događaja za promenu datuma
    document.getElementById("start-date").addEventListener("change", handleDateChange);
    document.getElementById("end-date").addEventListener("change", handleDateChange);
</script>
{% endblock %}