{% extends "layout.html" %}
{% block content %}
<table id="data" class="table table-striped dataTable no-footer invoices" role="grid">
    <thead>
        <tr>
            <th></th>
            <th>Učenik</th>
            <th>Poziv na broj</th>
            <th>ID učenika</th>
            <th>ID usluge</th>
            <th>Detalji usluge</th>
            <th>Svrha uplate</th>
            <th>Uplatilac</th>
            <th>Iznos</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        {% if record.payment_error %}
        <tr class="bg-danger">
        {% else %}
        <tr class="">
        {% endif %}
            <td>{{ record.id }}</td>
            <td>
                {% if record.student_id == 0 %}
                    <input type="text" class="form-control" value="Ignorisana uplata" readonly>
                {% elif record.student_id == 1 %}
                    <input type="text" class="form-control" value="Greška" readonly>
                {% else %}
                    <a class="btn btn-primary" href="{{url_for('overviews.overview_student', student_id=record.transaction_record_student.id)}}">{{ record.transaction_record_student.student_name }} {{ record.transaction_record_student.student_surname }}</a>
                {% endif %}
            </td>
            <td><input type="text" class="form-control" value="{{ record.reference_number }}" readonly></td>
            <td><input id="student_id_{{ record.id }}" class="form-control" type="text" value="{{ '{:04d}'.format(record.student_id) }}"></td>
            <td><input id="service_id_{{ record.id }}" class="form-control" type="text" value="{{ '{:03d}'.format(record.service_item_id) }}"></td>
            <td>
                {% if record.student_id == 1 %}
                    <input type="text" class="form-control" value="Greška" readonly>
                {% elif record.service_item_id == 0 %}
                    <input type="text" class="form-control" value="Ignorisana uplata" readonly>
                {% elif record is defined and record.transaction_record_service_item is defined and record.transaction_record_service_item.service_item_service is defined and record.transaction_record_service_item.service_item_name is defined %}
                    <input class="form-control" value="{{ record.transaction_record_service_item.service_item_service.service_name }} - {{ record.transaction_record_service_item.service_item_name }}" readonly>
                {% else %}
                    <input type="text" class="form-control" value="Greška" readonly>
                {% endif %}
                </td>
            <td><input class="form-control" value="{{ record.purpose_of_payment }}" readonly></td>
            <td><input value="{{ record.payer }}" class="form-control" readonly></td>
            <td><input value="{{ '{:.2f}'.format(record.student_debt_total) }}" class="form-control" readonly></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <a href="{{url_for('transactions.payments_archive_list')}}" id="back" class="btn btn-primary">Nazad</a>
    <button  id="save_button" class="btn btn-primary loading">Sačuvajte izmene</button>
</div>
<hr>
<table id="export_data" class="table table-striped dataTable no-footer invoices" role="grid">
    <thead>
        <tr>
            <th>ID usluge</th>
            <th>Detalji usluge</th>
            <th>Ukupan iznos</th>
        </tr>
    </thead>
    <tbody>
        {% for data in export_data %}
        <tr>
            <td>{{ "{:03d}".format(data.service_item_id) }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.sum_amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="col">
    <a class="btn btn-primary" href="{{ url_for('static', filename='payment_slips/export.pdf') }}" target="_blank">Izvoz podataka</a>
</div>
<div class="loading-overlay">
    <div class="spinner"></div>
    <div>   Molim Vas sačekajte...</div>
</div>
{% endblock content%}

{% block scripts %}
<script>
    // Dodajte funkciju za dobijanje imena i prezimena studenta na osnovu ID-a
    function get_student_name(studentId) {
        var students = JSON.parse('{{ students|safe }}');
        var student = students.find(function (s) {
            console.log('iz funkcije - s: ', s)
            return s.student_id === parseInt(studentId);
        });
        if (student) {
            return student.student_name + ' ' + student.student_surname;
        }
        return 'Ne postoji studentom sa tim ID';
    }
    // Dodajte funkciju za dobijanje naziva usluge na osnovu ID-a
    function get_service_name(serviceId) {
        var services = JSON.parse('{{ services|safe }}');
        var service = services.find(function (s) {
            console.log('iz funkcije - s: ', s)
            return s.service_id === parseInt(serviceId);
        });
        if (service) {
            return service.service_debt + ' - ' +  service.service_item_name;
        }
        return 'Ne postoji usluga sa tim ID';
    }
    $(document).ready(function () {
        // Kreiranje tabele
        var table = $('#data').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
            },
            "lengthMenu": [50, 100, 200],
            "pageLength": 50,
            "stateSave": true
        });
        var tableExport = $('#export_data').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
            }
        });
        // Filtriranje prvog reda da prikaže samo vrednosti različite od "000"
        tableExport.column(0).search('^(?!000).', true, false).draw();

        // Promena vrednosti u koloni 'ID učenika'
        $('#data tbody').on('input', 'input[id^="student_id_"]', function () {
            var row = table.row($(this).closest('tr'));
            var studentId = $(this).val();
            var studentDetails = get_student_name(studentId)
            console.log('debuging - red: ', row)
            console.log('debuging - studentId: ', studentId)
            console.log('debuging - studentIdDetails: ', studentDetails)
            // Pristupamo input elementu u koloni 'Učenik' unutar trenutnog reda
            var $studentInput = $(this).closest('tr').find('td:eq(1) input');

            // Postavljanje nove vrednosti u input elementu
            $studentInput.val(studentDetails);

            row.invalidate().draw();
            // Fokusiranje input polja nakon ažuriranja vrednosti
            $(this).focus();
        });
        // Promena vrednosti u koloni 'ID usluge'
        $('#data tbody').on('input', 'input[id^="service_id_"]', function() {
            var row = table.row($(this).closest('tr'));
            var serviceId = $(this).val();
            var serviceDetails = get_service_name(serviceId);
            console.log('debuging - red: ', row)
            console.log('debuging - serviceId: ', serviceId)
            console.log('debuging - serviceDetails: ', serviceDetails)
            // Pristupamo input elementu u koloni 'Učenik' unutar trenutnog reda
            var $serviceInput = $(this).closest('tr').find('td:eq(5) input');

            // Postavljanje nove vrednosti u input elementu
            $serviceInput.val(serviceDetails);

            row.invalidate().draw();
            // Fokusiranje input polja nakon ažuriranja vrednosti
            $(this).focus();
        });
        const buttonSave = $('#save_button');
        buttonSave.on('click', (event) => {
            console.log('test radi - pritisnuto je dugme sačuvaj. nastavi kodiranje')
            var studentPaymentId;
            var url = new URL(window.location.href); // Dohvaćanje trenutnog URL-a stranice
            var pathname = url.pathname;  // Dohvaćanje putanje URL-a
            var parts = pathname.split('/'); // Razdvajanje putanje na dijelove koristeći "/"
            if (parts.length > 0) {
                var lastPart = parts[parts.length-1]; // Dohvaćanje posljednjeg dijela putanje
                studentPaymentId = parseInt(lastPart); // Pretvaranje posljednjeg dijela u broj
            }
            console.log('student Payment Id: ',studentPaymentId)
            var table = $('#data');
            var rows = table.find('tr');
            console.log('redovi: ', rows)
            console.log('broj redova: ', rows.length)
            var records = []
            for (var i = 1; i < rows.length; i++) {
                const row = rows[i];
                const recordId = parseInt($(row).find('td:nth-child(1)').text());
                const studentIdInput = $(row).find('td:nth-child(4) input'); // Dohvati input polje iz stupca 'ID učenika'
                const serviceIdInput = $(row).find('td:nth-child(5) input'); // Dohvati input polje iz stupca 'ID usluge'
                const studentId = parseInt(studentIdInput.val()); // Dohvati vrijednost iz input polja 'ID učenika'
                const serviceId = parseInt(serviceIdInput.val()); // Dohvati vrijednost iz input polja 'ID usluge'
                records.push({
                    'record_id': recordId,
                    'student_id': studentId,
                    'service_item_id': serviceId,
                })
            }
            console.log('izmenjeni podaci za čuvanje: ', records)
            console.log(JSON.stringify(records));
            const output = {
                'student_payment_id': studentPaymentId,
                'records': records
            }
            $.ajax({
                url: '../submit_records', //!!!!
                method: 'POST',
                data: JSON.stringify(output),
                contentType: 'application/json',
                success: function(response) {
                    // Uspešan AJAX zahtjev
                    // Preusmjeravanje na edit debt stranicu
                    var editDebtUrl = "{{ url_for('transactions.payment_archive', payment_id='1') }}";
                    editDebtUrl = editDebtUrl.replace(/1(?=[^1]*$)/, response);
                    window.location.href = editDebtUrl;
                }
            })
        })
    })
</script>
{% endblock %}