{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <label for="start-date" class="form-label">Početni datum:</label>
        <input class="form-control mb-2" type="date" id="start-date" name="start-date" value="{{ start_date }}">
    </div>
    <div class="col">
        <label for="end-date" class="form-label">Krajnji datum:</label>
        <input class="form-control mb-4" type="date" id="end-date" name="end-date" value="{{ end_date }}">
    </div>
    <div class="col">
        <a class="btn btn-primary" href="{{url_for('transactions.posting_payment')}}">Uvezite novi izvod</a>
    </div>
</div>
<table id="data" class="table table-striped dataTable no-footer invoices" role="grid">
    <thead>
        <tr>
            <th>Datum izvoda</th>
            <th>Broj izvoda</th>
            <th>Iznos potražuje</th>
            <th>Broj uplatnica (Broj grešaka)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            <td>{{ payment.payment_date.strftime('%d.%m.%Y.') }}</td>
            <td>{{ payment.statment_nubmer }}</td>
            <td>{{ "{:.2f}".format(payment.total_payment_amount) }}</td>
            <td>{{ payment.number_of_items }} ({{ payment.number_of_errors }})</td>
            <td><a class="btn-x btn-primary-x" href="{{ url_for('transactions.payment_archive', payment_id=payment.id) }}" title="Pregled arhive izvoda"><i class="fa fa-magnifying-glass awesomeedit"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
            }
        });
    })
</script>
<script>
    // Funkcija koja se poziva pri promeni datuma
    function handleDateChange() {
        var startDate = document.getElementById("start-date").value;
        var endDate = document.getElementById("end-date").value;
        var url = "{{ url_for('transactions.payments_archive_list') }}?start_date=" + startDate + "&end_date=" + endDate;
        window.location.href = url; // Ponovno učitavanje stranice sa novim vrednostima datuma
    }

    // Dodavanje osluškivača događaja za promenu datuma
    document.getElementById("start-date").addEventListener("change", handleDateChange);
    document.getElementById("end-date").addEventListener("change", handleDateChange);
</script>
<script>
        const rows = document.querySelectorAll('#data tbody tr');
    
        rows.forEach(row => {
        const tds = row.querySelectorAll('td');
        let containsZero = false;
    
        tds.forEach(td => {
            if (td.textContent.includes('(0)')) {
            containsZero = true;
            }
        });
    
        if (!containsZero) {
            row.style.backgroundColor = 'rgba(255,0,0,0.1)';
        }
        });
</script>
{% endblock %}