{% extends "layout.html" %}
{% block content %}
<style>
    @media (max-width: 991px)  {
        .mobtable td:nth-of-type(1):before { content: "Datum izvoda"; }
        .mobtable td:nth-of-type(2):before { content: "Podračun"; }
        .mobtable td:nth-of-type(3):before { content: "Broj izvoda"; }
        .mobtable td:nth-of-type(4):before { content: "Iznos potražuje"; }
        .mobtable td:nth-of-type(5):before { content: "Broj uplatnica (Broj grešaka)"; }
        .mobtable td:nth-of-type(6):before { content: "Akcije"; }
    }
</style>
<div class="row">
    <div class="col">
        <label for="start-date" class="form-label">Početni datum:</label>
        <input class="form-control mb-2" type="date" id="start-date" name="start-date" value="{{ start_date }}">
    </div>
    <div class="col">
        <label for="end-date" class="form-label">Krajnji datum:</label>
        <input class="form-control mb-4" type="date" id="end-date" name="end-date" value="{{ end_date }}">
    </div>
    <div class="col">
        <label for="bank_accounts_numbers">Podračun:</label>
        <select class="form-select mb-2" name="bank_accounts_numbers" id="bank_accounts_numbers">
            <option value="">Svi podračuni</option>
            {% for bank_account in bank_accounts %}
                {% if bank_account == filtered_bank_account_number %}
                    <option value="{{ bank_account }}" selected>{{ bank_account }}</option>
                {% else %}
                    <option value="{{ bank_account }}">{{ bank_account }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <a class="btn btn-primary mt-31px" href="{{url_for('transactions.posting_payment')}}">Uvezite novi izvod</a>
    </div>
</div>
<table id="data" class="table table-striped dataTable no-footer invoices mobtable" role="grid">
    <thead>
        <tr>
            <th>Datum izvoda</th>
            <th>Podračun</th>
            <th>Broj izvoda</th>
            <th>Iznos potražuje</th>
            <th>Broj uplatnica (Broj grešaka)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            <td data-order="{{ payment.payment_date.strftime('%Y%m%d') }}">{{ payment.payment_date.strftime('%d.%m.%Y.') }}</td>
            <td>{{ payment.bank_account }}</td>
            <td>{{ payment.statment_nubmer }}</td>
            <td>{{ "{:.2f}".format(payment.total_payment_amount) }}</td>
            <td>{{ payment.number_of_items }} ({{ payment.number_of_errors }})</td>
            <td><a class="btn-x btn-primary-x loading" href="{{ url_for('transactions.payment_archive', payment_id=payment.id) }}" title="Pregled arhive izvoda"><i class="fa fa-magnifying-glass awesomeedit"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            // NOVO: Čuvanje stanja tabele
            "stateSave": true,
            "stateDuration": 900, // 15 minuta (900 sekundi)
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
            },
            columnDefs: [
                { type: 'date-eu', targets: 0 } // Prva kolona (indeks 0) je datum
            ],
            order: [[0, 'desc']]
        });
    })
</script>
<script>
    // Funkcija koja se poziva pri promeni datuma
    function handleChange() {
        var startDate = document.getElementById("start-date").value;
        var endDate = document.getElementById("end-date").value;
        var selectAccount = document.getElementById("bank_accounts_numbers").value;
        
        var url = "{{ url_for('transactions.payments_archive_list') }}?start_date=" + startDate + "&end_date=" + endDate;
        if (selectAccount) {
            url += "&bank_account=" + selectAccount;
        }
        window.location.href = url; // Ponovno učitavanje stranice sa novim vrednostima datuma
    }

    // Dodavanje osluškivača događaja za promenu datuma
    document.getElementById("start-date").addEventListener("change", handleChange);
    document.getElementById("end-date").addEventListener("change", handleChange);
    document.getElementById("bank_accounts_numbers").addEventListener("change", handleChange);

</script>
<script>
        const rows = document.querySelectorAll('#data tbody tr');
    
        rows.forEach(row => {
        const tds = row.querySelectorAll('td');
        let containsZero = false;
    
        tds.forEach(td => {
            if (td.textContent.includes('(0)')) {
            containsZero = true;
            }
        });
    
        if (!containsZero) {
            row.style.backgroundColor = 'rgba(255,0,0,0.1)';
        }
        });
</script>
{% endblock %}