{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <label for="start-date" class="form-label">Početni datum:</label>
        <input class="form-control mb-2" type="date" id="start-date" name="start-date" value="{{ start_date }}">
    </div>
    <div class="col">
        <label for="end-date" class="form-label">Krajnji datum:</label>
        <input class="form-control mb-4" type="date" id="end-date" name="end-date" value="{{ end_date }}">
    </div>
</div>
<table id="data" class="table table-striped dataTable no-footer invoices" role="grid">
    <thead>
        <tr>
            <th>Datum izvoda</th>
            <th>Broj izvoda</th>
            <th>Iznos potražuje</th>
            <th>Broj uplatnica</th>
            <th>buttons</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            <td>{{ payment.payment_date.strftime('%d.%m.%Y.') }}</td>
            <td>{{ payment.statment_nubmer }}</td>
            <td>{{ payment.total_payment_amount }}</td>
            <td>{{ payment.number_of_items }}</td>
            {% if payment.number_of_errors %}
            <td><a class="btn btn-primary" href="{{ url_for('transactions.payment_archive', payment_id=payment.id) }}">Pregled <span class="badge bg-danger">{{ payment.number_of_errors }}</span> </a></td>
            {% else %}
            <td><a class="btn btn-primary" href="{{ url_for('transactions.payment_archive', payment_id=payment.id) }}">Pregled <span class="badge bg-success">{{ payment.number_of_errors }}</span> </a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
            }
        });
    })
</script>
<script>
    // Funkcija koja se poziva pri promeni datuma
    function handleDateChange() {
        var startDate = document.getElementById("start-date").value;
        var endDate = document.getElementById("end-date").value;
        var url = "{{ url_for('transactions.payments_archive_list') }}?start_date=" + startDate + "&end_date=" + endDate;
        window.location.href = url; // Ponovno učitavanje stranice sa novim vrednostima datuma
    }

    // Dodavanje osluškivača događaja za promenu datuma
    document.getElementById("start-date").addEventListener("change", handleDateChange);
    document.getElementById("end-date").addEventListener("change", handleDateChange);
</script>
{% endblock %}