{% extends "layout.html" %}
{% block content %}
<table id="data" class="table table-striped dataTable no-footer invoices" role="grid">
    <thead>
        <tr>
            <th></th>
            <th>Učenik</th>
            <th>Poziv na broj</th>
            <th>ID učenika</th>
            <th>ID usluge</th>
            <th>Detalji usluge??</th>
            <th>Svrha uplate</th>
            <th>Uplatilac</th>
            <th>Iznos</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        {% if record.payment_error %}
        <tr class="bg-danger">
        {% else %}
        <tr class="">
        {% endif %}
            <td>{{ record.id }}</td>
            <td>
                {% if record.student_id == 0 %}
                    <strong>Ignorisana uplata</strong>
                {% elif record.student_id == 1 %}
                    <strong>Greška</strong>
                {% else %}
                    <a class="btn btn-primary" href="{{url_for('overviews.overview_student', student_id=record.transaction_record_student.id)}}">{{ record.transaction_record_student.student_name }} {{ record.transaction_record_student.student_surname }}</a>
                {% endif %}
            </td>
            <td>{{ record.reference_number }}</td>
            <td contenteditable="true" class="edit-cell student-id">{{ "{:04d}".format(record.student_id) }}</td>
            <td contenteditable="true" class="edit-cell service-id">{{ "{:03d}".format(record.service_item_id) }}</td>
            <td>
                {% if record.student_id == 1 %}
                    <strong>Greška</strong>
                {% elif record.service_item_id == 0 %}
                    <strong>Ignorisana uplata</strong>
                {% elif record is defined and record.transaction_record_service_item is defined and record.transaction_record_service_item.service_item_service is defined and record.transaction_record_service_item.service_item_name is defined %}
                    {{ record.transaction_record_service_item.service_item_service.service_name }} - {{ record.transaction_record_service_item.service_item_name }}
                {% else %}
                    <strong>Greška</strong>
                {% endif %}
                </td>
            <td>{{ record.purpose_of_payment }}</td>
            <td>{{ record.payer }}</td>
            <td>{{ record.student_debt_total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <button id="save_button" class="btn btn-primary loading">Sačuvajte izmene</button>
</div>
<hr>
<table id="export_data" class="table table-striped dataTable no-footer invoices" role="grid">
    <thead>
        <tr>
            <th>ID usluge</th>
            <th>Detalji usluge</th>
            <th>Ukupan iznos</th>
        </tr>
    </thead>
    <tbody>
        {% for data in export_data %}
        <tr>
            <td>{{ "{:03d}".format(data.service_item_id) }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.sum_amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="col">
    <a class="btn btn-primary" href="{{ url_for('static', filename='payment_slips/export.pdf') }}" target="_blank">Izvoz podataka</a>
</div>
<div class="loading-overlay">
    <div class="spinner"></div>
    <div>   Molim Vas sačekajte...</div>
</div>
{% endblock content%}

{% block scripts %}
<script>
    // Dodajte funkciju za dobijanje imena i prezimena studenta na osnovu ID-a
    function get_student_name(studentId) {
        var students = JSON.parse('{{ students|safe }}');
        var student = students.find(function (s) {
            console.log('iz funkcije - s: ', s)
            return s.student_id === parseInt(studentId);
        });
        if (student) {
            return student.student_name + ' ' + student.student_surname;
        }
        return 'Ne postoji studentom sa tim ID';
    }
    // Dodajte funkciju za dobijanje naziva usluge na osnovu ID-a
    function get_service_name(serviceId) {
        var services = JSON.parse('{{ services|safe }}');
        var service = services.find(function (s) {
            console.log('iz funkcije - s: ', s)
            return s.service_id === parseInt(serviceId);
        });
        if (service) {
            return service.service_debt + ' - ' +  service.service_item_name;
        }
        return 'Ne postoji usluga sa tim ID';
    }
    $(document).ready(function () {
        // Kreiranje tabele
        var table = $('#data').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
            }
        });
        var tableExport = $('#export_data').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
            }
        });
        // Promena vrednosti u koloni 'ID učenika'
        $('.student-id').on('input', function() {
            var row = $(this).closest('tr');
            var studentId = $(this).text();
            var studentName = get_student_name(studentId);
            console.log('test_studen id: ', studentName, studentId)
            row.find('td:nth-child(4)').text(studentId);
            row.find('td:nth-child(2)').text(studentName);
        });

        // Promena vrednosti u koloni 'ID usluge'
        $('.service-id').on('input', function() {
            var row = $(this).closest('tr');
            var serviceId = $(this).text();
            var serviceDetails = get_service_name(serviceId);
            console.log('test_service id: ', serviceDetails, serviceId)
            row.find('td:nth-child(5)').text(serviceId);
            row.find('td:nth-child(6)').text(serviceDetails);
        });
        const buttonSave = $('#save_button');
        buttonSave.on('click', (event) => {
            console.log('test radi - pritisnuto je dugme sačuvaj. nastavi kodiranje')
            var studentPaymentId;
            var url = new URL(window.location.href); // Dohvaćanje trenutnog URL-a stranice
            var pathname = url.pathname;  // Dohvaćanje putanje URL-a
            var parts = pathname.split('/'); // Razdvajanje putanje na dijelove koristeći "/"
            if (parts.length > 0) {
                var lastPart = parts[parts.length-1]; // Dohvaćanje posljednjeg dijela putanje
                studentPaymentId = parseInt(lastPart); // Pretvaranje posljednjeg dijela u broj
            }
            console.log('student Payment Id: ',studentPaymentId)
            var table = $('#data');
            var rows = table.find('tr');
            console.log('redovi: ', rows)
            console.log('broj redova: ', rows.length)
            var records = []
            for (var i = 1; i < rows.length; i++) {
                const row = rows[i];
                const recordId = parseInt($(row).find('td:nth-child(1)').text());
                const studentId = parseInt($(row).find('.student-id').text());
                const serviceId = parseInt($(row).find('.service-id').text());
                records.push({
                    'record_id': recordId,
                    'student_id': studentId,
                    'service_item_id': serviceId,
                })
            }
            console.log('izmenjeni podaci za čuvanje: ', records)
            console.log(JSON.stringify(records));
            const output = {
                'student_payment_id': studentPaymentId,
                'records': records
            }
            $.ajax({
                url: '../submit_records', //!!!!
                method: 'POST',
                data: JSON.stringify(output),
                contentType: 'application/json',
                success: function(response) {
                    // Uspešan AJAX zahtjev
                    // Preusmjeravanje na edit debt stranicu
                    var editDebtUrl = "{{ url_for('transactions.payment_archive', payment_id='1') }}";
                    editDebtUrl = editDebtUrl.replace('1', response);
                    window.location.href = editDebtUrl;
                }
            })
        })
    })
</script>
{% endblock %}