{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <form method= "POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group m0">
            <div class="row">
                <div class="col form-group">
                    {{ form.school_name.label(class="form-control-label") }} 
                    {% if form.school_name.errors %} 
                        {{ form.school_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.school_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.school_name(class="form-control form-control-lg") }} 
                    {% endif %}
                </div>
                <div class="col form-group">
                    {{ form.school_address.label(class="form-control-label") }} 
                    {% if form.school_address.errors %} 
                        {{ form.school_address(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.school_address.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.school_address(class="form-control form-control-lg") }} 
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    {{ form.school_zip_code.label(class="form-control-label") }} 
                    {% if form.school_zip_code.errors %} 
                        {{ form.school_zip_code(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.school_zip_code.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.school_zip_code(class="form-control form-control-lg") }} 
                    {% endif %}
                </div>
                <div class="col form-group">
                    {{ form.school_city.label(class="form-control-label") }} 
                    {% if form.school_city.errors %} 
                        {{ form.school_city(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.school_city.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.school_city(class="form-control form-control-lg") }} 
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    {{ form.school_municipality.label(class="form-control-label") }} 
                    {% if form.school_municipality.errors %} 
                        {{ form.school_municipality(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.school_municipality.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.school_municipality(class="form-control form-control-lg") }} 
                    {% endif %}
                </div>
            </div>
            {% for bank_account in form.school_bank_accounts %}
            {{ bank_account.hidden_tag() }}
            <div class="row">
                <div class="col form-group">
                    {{ bank_account.bank_account_number.label(class="form-control-label") }}
                    {% if bank_account.bank_account_number.errors %}
                        <div class="invalid-feedback">
                            {% for error in bank_account.bank_account_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ bank_account.bank_account_number(class="form-control form-control-lg", value=bank_account.bank_account_number.data) }}
                </div>
                <div class="col form-group">
                    {{ bank_account.reference_number_spiri.label(class="form-control-label") }}
                    {% if bank_account.reference_number_spiri.errors %}
                        <div class="invalid-feedback">
                            {% for error in bank_account.reference_number_spiri.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ bank_account.reference_number_spiri(class="form-control form-control-lg", value=bank_account.reference_number_spiri.data) }}
                </div>
            </div>
            {% endfor %}
            {{ form.submit(class="btn btn-primary btn-in-center") }}
        </fieldset>
    </form>
</div>
{% endblock content%}