{% extends "layout.html" %}
{% block content %}
<style>
    @media (max-width: 991px)  {
        .mobtable td:nth-of-type(1):before { content: "Ime"; }
        .mobtable td:nth-of-type(2):before { content: "Prezime"; }
        .mobtable td:nth-of-type(3):before { content: "Razred"; }
        .mobtable td:nth-of-type(4):before { content: "Odeljenje"; }
        .mobtable td:nth-of-type(5):before { content: "Poziv na broj"; }
        .mobtable td:nth-of-type(6):before { content: "Usluga"; }
        .mobtable td:nth-of-type(7):before { content: "Količina"; }
        .mobtable td:nth-of-type(8):before { content: "Iznos"; }
        .mobtable td:nth-of-type(9):before { content: "Olakšica"; }
        .mobtable td:nth-of-type(10):before { content: "Iznos zaduženja"; }
    }
</style>
<!-- ovo su učitelji: {{teachers}} -->
<div class="form-group" style="display: inline-block;">
    <label for="classes" class="form-control-label">Razred</label>
    <select name="classes" id="classes" class="form-select">
        <option value="s">Selektujte razred</option>
        {% for i in range(0,9) %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group" style="display: inline-block;">
    <label for="section" class="form-control-label">Odeljenje</label>
    <select name="section" id="section" class="form-select" disabled>
        <option value="">Selektujte odeljenje</option>
        {% for i in range(0,17) %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group spornispan" style="display: inline-block;">
    <label for="service_item" class="form-control-label">Usluga</label>
    <!--<select name="service_item" id="service_item" class="form-select js-example-basic-single" disabled>-->
    <select name="service_item" id="service_item" class="form-select" disabled>
        <option value="0">Selektujte uslugu</option>
    </select>
</div>
<div class="form-group" style="display: inline-block;">
    <label for="installment" class="form-control-label">Rata</label>
    <select name="installment" id="installment" class="form-select" disabled>
        <option value="">Selektujte ratu</option>
        {% for service in services %}
            <option value="">work in progress</option>
        {% endfor %}
    </select>
</div>
<div class="form-group" style="display: inline-block;">
    <label for="installment_value">Iznos</label>
    <input name="installment_value" id="installment_value" type="tesxt" class="form-control" value="---" readonly>
</div>
<div class="form-group" style="display: inline-block;">
    <label for="today_date" class="form-control-label">Datum</label>
    <input type="date" id="today_date" class="form-control" disabled>
</div>
<div class="form-group" style="display: inline-block; vertical-align: top;">
    <div class="kolicina-btn-box">
        <div>
            <label for="zaduzi_sve_kolicina" class="form-control-label">Količina</label>
            <input id="zaduzi_sve_kolicina" class="form-control" type="number" min="0" value="1" disabled style="width: 30%;">
        </div>
        <button id="zaduzi_sve" class="btn btn-primary" type="button" disabled>zaduži sve učenike</button>
    </div>
</div>
<div class="form-group" style="display: inline-block;">
</div>
<table id="data" class="table table-striped dataTable no-footer invoices mobtable" role="grid" aria-describedby="data_info" style="width: 968px;">
    <thead>
        <tr role="row">
            <th style="width: 80px;">Ime</th>
            <th style="width: 80px;">Prezime</th>
            <th>Razred</th>
            <th>Odeljenje</th>
            <th style="width: 80px;" data-sortable="false">Poziv na broj</th>
            <th data-sortable="false">Usluga</th>
            <th style="width: 30px;" data-sortable="false">Količina</th>
            <th style="width: 60px;" data-sortable="false">Iznos</th>
            <th style="width: 60px;" data-sortable="false">Olakšica</th>
            <th style="width: 60px;" data-sortable="false">Iznos zaduženja</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr class="odd">
            <td data-sort="{{ student.student_name }}"><input class="form-control" type="text" value="{{ student.student_name }}" readonly></td>
            <td data-sort="{{ student.student_surname }}"><input class="form-control" type="text" value="{{ student.student_surname }}" readonly></td>
            <td>{{ student.student_class }}</td> <!-- sakriveni, ali potrebni zbog filtera -->
            <td>{{ student.student_section }}</td> <!-- sakriveni, ali potrebni zbog filtera -->
            <td><input id="poziv_na_broj_{{ student.id }}" class="form-control" type="text" value="" readonly></td>
            <td><input id="usluga_{{ student.id }}" class="form-control" type="text" value="" readonly></td>
            <td><input style="text-align: center;" id="kolicina_{{ student.id }}" class="form-control" type="number" step="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57' value="0" readonly></td>
            <td><input style="text-align: right;" id="iznos-{{ student.id }}" class="form-control" type="text" value="0" readonly></td>
            <td><input style="text-align: right;" id="olaksice_{{ student.id }}" class="form-control" type="number" step="0.01" value="0.00" readonly></td>
            <td><input style="text-align: right;" id="iznos_zaduženja_{{ student.id }}" class="form-control" type="text" value="0" readonly></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="form-group">
    <label for="purpose_of_payment" class="form-control-label" title="max 35 karaktera">Svrha uplate</label>
    <input type="text" id="purpose_of_payment" name="purpose_of_payment" class="form-control form-control-lg" disabled>
    <p id="errorMessage" style="display: none;">U polje možete uneti maksimalno 35 karaktera.</p>
</div>
<div class="form-group">
    <button class="btn btn-primary loading disable-button" id="save_button" disabled>Sačuvajte</button>
</div>
{% endblock content %}

{% block scripts %}
<script>
    // Funkcija za izračunavanje iznosa zaduženja
    function dataChanged(studentId) {
        // Dohvati vrednosti iz input polja 'Količina' i 'Olakšica' za određenog studenta
        var kolicinaValue = document.getElementById("kolicina_" + studentId).value;
        var olaksiceValue = document.getElementById("olaksice_" + studentId).value;
        var iznosValue = document.getElementById("iznos-" + studentId).value;

        // Konvertuj prazne stringove u "0" pre parseFloat
        kolicinaValue = kolicinaValue === "" ? "0" : kolicinaValue;
        olaksiceValue = olaksiceValue === "" ? "0" : olaksiceValue;
        
        var kolicina = parseFloat(kolicinaValue);
        var olaksice = parseFloat(olaksiceValue);
        var iznos = parseFloat(iznosValue);

        // Izračunaj iznos zaduženja
        var iznosZaduzenja = (kolicina * iznos) - olaksice;

        // Postavi izračunati iznos zaduženja u odgovarajuće input polje
        document.getElementById("iznos_zaduženja_" + studentId).value = iznosZaduzenja.toFixed(2);
        document.getElementById("kolicina_" + studentId).value = kolicina.toFixed(0);
        document.getElementById("olaksice_" + studentId).value = olaksice.toFixed(2);
    }

    // Dodaj event listenere za promene u input poljima 'Količina' i 'Olakšica' za svakog studenta
    var students = document.querySelectorAll('[id^="kolicina_"]');
    students.forEach(function (student) {
        var studentId = student.id.split("_")[1];
        student.addEventListener("change", function () {
            dataChanged(studentId);
        });
    });

    var olaksiceInputs = document.querySelectorAll('[id^="olaksice_"]');
    olaksiceInputs.forEach(function (olaksiceInput) {
        var studentId = olaksiceInput.id.split("_")[1];
        olaksiceInput.addEventListener("change", function () {
            dataChanged(studentId);
        });
    });


    $(document).ready(function() {
        const selectFieldClasses = $('#classes');
        const selectFieldSection = $('#section');
        const selectFieldServiceItem = $('#service_item'); //
        const selectFieldInstallment = $('#installment'); //
        const inputFieldInstallmentValue = $('#installment_value');
        const pozivNaBrojCells = $('[id^="poziv_na_broj_"]'); ///
        console.log('test pozivNaBrojCells: ', pozivNaBrojCells)
        const uslugaCells = $('[id^="usluga_"]'); ///
        const inputFieldQuantityValue = $('[id^="kolicina_"]')
        const inputFieldDiscountValue = $('[id^="olaksice"]')

        const iznosCells = document.querySelectorAll('[id^="iznos-"]');
        
        console.log('test iznosCells: ', iznosCells)
        const inputFieldPurposeOfPayment = $('#purpose_of_payment');
        const buttonSave = $('#save_button');
        const buttonZaduziSve = $("#zaduzi_sve");
        const inputZaduziSveKolicina = $("#zaduzi_sve_kolicina");

        const today = new Date().toISOString().substr(0, 10); // Get today's date in ISO format (yyyy-mm-dd)
        document.getElementById("today_date").value = today;

        // Krerira tabelu
        var table = $('#data').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
            },
            columnDefs: [
                { targets: [2,3], visible: false },
                { targets: 'sort', orderData: 'data-sort'}
            ],
            order: [[1, 'asc'], [0, 'asc']],
            "paging": false, // Isključuje paginaciju
            "lengthMenu": [10, 25, 50, 100, 200, 400, 800],
            "pageLength": 100,
        });

        // Prazna tabela
        table.column(2).search("zzz").draw(); // samo da ne bude neki broj razreda - uzeo sam neka slova bez ikakvog posebnog razloga

        // Filter po razredu
        selectFieldClasses.on('change', function() {
            const classes = $(this).val();
            const section = "";
            table.column(2).search('^' + classes + '$', true, false).draw();
            table.column(3).search(section).draw();
        });

        // Filter po odeljenju
        selectFieldSection.on('change', function() {
            const section = $(this).val();
            table.column(3).search('^' + section + '$', true, false).draw();
        });

        // Dropdown: RAZRED
        selectFieldClasses.on('change', function() {
            const newValue = selectFieldClasses.val();
            if(selectFieldClasses.val() === "s") {
                console.log('selectkovani razred: ', selectFieldClasses.val());
                selectFieldSection.prop('disabled', true);
                selectFieldSection.prop('value', "");
                selectFieldServiceItem.prop('disabled', true);
                selectFieldServiceItem.prop('value', 0);
                selectFieldInstallment.prop('disabled', true);
                selectFieldInstallment.prop('value', 0);
                inputFieldPurposeOfPayment.prop('value', "");
                inputFieldPurposeOfPayment.prop('disabled', true);
                buttonSave.prop('disabled', true);
                buttonZaduziSve.prop('disabled', true);
                inputZaduziSveKolicina.prop('disabled', true);
            } else {
                console.log('selectkovani razred: ', selectFieldClasses.val());
                selectFieldSection.prop('disabled', false);
                selectFieldSection.prop('value', "");
                selectFieldServiceItem.prop('disabled', true);
                selectFieldServiceItem.prop('value', 0);
                selectFieldInstallment.prop('disabled', true);
                selectFieldInstallment.prop('value', 0);
                inputFieldPurposeOfPayment.prop('value', "");
                inputFieldPurposeOfPayment.prop('disabled', true);
                buttonSave.prop('disabled', true);
                inputFieldInstallmentValue.prop('value', "----");
                $.ajax({
                    url: 'get_service_items',
                    data: {classes: newValue},
                    method: 'POST',
                    success: function(data) {
                        inputFieldPurposeOfPayment.prop('value', "");
                        inputFieldPurposeOfPayment.prop('disabled', true);
                        buttonSave.prop('disabled', true);
                    }
                })
                dataChanged(); // call function
            }
        });
        // dropdown: Odeljenje
        selectFieldSection.on('change', function() {
            const newValue = selectFieldClasses.val();
            const newValue4 = selectFieldSection.val()
            console.log('selectkovano odeljenje - nova vrednost: ', newValue4);
            if (selectFieldSection.val() === "") {
                console.log('selektovano odeljenje je 0');
                selectFieldServiceItem.prop('disabled', true);
                selectFieldServiceItem.prop('value', 0);
                selectFieldInstallment.prop('disabled', true);
                selectFieldInstallment.prop('value', 0);
                inputFieldPurposeOfPayment.prop('value', "");
                inputFieldPurposeOfPayment.prop('disabled', true);
                inputFieldQuantityValue.each(function() {
                    console.log("Izvršava se uvjet");
                    $(this).prop('readonly', true);
                    $(this).prop('value', 0);
                });
                inputFieldDiscountValue.each(function(){
                    $(this).prop('readonly', true);
                    $(this).prop('value', 0);
                });
                buttonSave.prop('disabled', true);
                buttonZaduziSve.prop('disabled', true);
                inputZaduziSveKolicina.prop('disabled', true);
            } else {
                console.log('nastavi kod')
                selectFieldInstallment.prop('disabled', true);
                selectFieldInstallment.prop('value', 0);
                inputFieldPurposeOfPayment.prop('value', "");
                inputFieldPurposeOfPayment.prop('disabled', true);
                inputFieldQuantityValue.each(function() {
                    console.log("Izvršava se uvjet");
                    $(this).prop('readonly', true);
                    $(this).prop('value', 0);
                });
                inputFieldDiscountValue.each(function(){
                    $(this).prop('readonly', true);
                    $(this).prop('value', 0);
                });
                buttonSave.prop('disabled', true);

                $.ajax({
                    url: 'get_service_items',
                    data: {classes: newValue},
                    method: 'POST',
                    success: function(data) {
                        selectFieldServiceItem.html(data);
                        selectFieldServiceItem.prop('disabled', false);
                        inputFieldPurposeOfPayment.prop('value', "");
                        inputFieldPurposeOfPayment.prop('disabled', true);
                        buttonSave.prop('disabled', true);
                    }
                })
                dataChanged(); // call function
            }
        })


        // dropdown: Usluga
        selectFieldServiceItem.on('change', function() {
            const newValue2 = selectFieldServiceItem.val();
            console.log('selectkovani usluga nova vrednost: ', newValue2);
            if(selectFieldServiceItem.val() === "0") {
                console.log('selectkovani usluga je nula');
                selectFieldInstallment.prop('disabled', true);
                selectFieldInstallment.prop('value', "");
                inputFieldPurposeOfPayment.prop('value', "");
                inputFieldPurposeOfPayment.prop('disabled', true);
                inputFieldQuantityValue.each(function() {
                    console.log("Izvršava se uvjet");
                    $(this).prop('readonly', true);
                    $(this).prop('value', 0);
                });
                inputFieldDiscountValue.each(function(){
                    $(this).prop('readonly', true);
                    $(this).prop('value', 0);
                });
                buttonSave.prop('disabled', true);
                buttonZaduziSve.prop('disabled', true);
                inputZaduziSveKolicina.prop('disabled', true);
            } else {
                $.ajax({
                    url: 'get_installments',
                    data: {installments: newValue2},
                    method: 'POST',
                    dataType: 'json',
                    success: function(data) {
                        const komadno = data.komadno
                        selectFieldInstallment.html(data.html);
                        selectFieldInstallment.prop('disabled', false);
                        inputFieldInstallmentValue.prop('value', "----");
                        inputFieldPurposeOfPayment.prop('value', "");
                        inputFieldPurposeOfPayment.prop('disabled', true);
                        buttonSave.prop('disabled', true);

                        const selectedServiceId = selectFieldServiceItem.val();
                        const selectedServiceText = selectFieldServiceItem.find('option:selected').text();

                        pozivNaBrojCells.each(function() {
                            const studentId = this.id.split('_')[3];
                            $(this).val(`${studentId.padStart(4, '0')}-${selectedServiceId.padStart(3, '0')}`);
                        });
                        console.log('uslugaCells: ', uslugaCells)
                        uslugaCells.each(function() {
                            $(this).val(`${selectedServiceText}`); // ovaj tekst mi treba i na drugom mestu
                        });
                        console.log('debug komadno: ', komadno)
                        if(komadno){
                            buttonZaduziSve.prop('disabled', false);
                            inputZaduziSveKolicina.prop('disabled', false);
                            inputZaduziSveKolicina.val(0);
                            // dodati kod da input za količinu može da ima vrednost ili 0 ili 1
                            inputFieldQuantityValue.each(function() {
                                console.log("Izvršava se uvjet");
                                $(this).prop('readonly', true);
                                $(this).prop('value', 0);
                                $(this).prop('min', 0);
                                $(this).prop('max', 100);
                            });
                            inputFieldDiscountValue.each(function(){
                                $(this).prop('readonly', true);
                                $(this).prop('value', 0);
                                $(this).prop('min', 0);
                            });
                        } else {
                            buttonZaduziSve.prop('disabled', false);
                            inputZaduziSveKolicina.prop('disabled', true);
                            inputZaduziSveKolicina.val(1);
                            // dodati kod da input za količinu može da ima vrednost od 0 do npr 30
                            inputFieldQuantityValue.each(function() {
                                console.log("Izvršava se uvjet");
                                $(this).prop('readonly', true);
                                $(this).prop('value', 0);
                                $(this).prop('min', 0);
                                $(this).prop('max', 1);
                            });
                            inputFieldDiscountValue.each(function(){
                                $(this).prop('readonly', true);
                                $(this).prop('value', 0);
                                $(this).prop('min', 0);
                            });
                        }
                    },
                })                    
                dataChanged(); // call function
            }
        });

        // dropdown: RATA
        selectFieldInstallment.on('change', function() {
            const newValue3 = selectFieldInstallment.val();
            const newValue2 = selectFieldServiceItem.val();
            console.log(newValue2)
            console.log('rata broj: ', newValue3);
            if(selectFieldInstallment.val() === "0") {
                inputFieldInstallmentValue.prop('value', "----")
                iznosCells.forEach(cell => {
                    cell.value = 0;
                });
                inputFieldPurposeOfPayment.prop('value', "");
                inputFieldPurposeOfPayment.prop('disabled', true);
                // Iterirajte kroz kolekciju i uklonite readonly atribut sa svakog elementa
                inputFieldQuantityValue.each(function() {
                    console.log("Izvršava se uvjet");
                    $(this).prop('readonly', true);
                    $(this).prop('value', 0);
                });
                inputFieldDiscountValue.each(function(){
                    $(this).prop('readonly', true);
                    $(this).prop('value', 0);
                });
                buttonSave.prop('disabled', true);
            } else {
                inputFieldQuantityValue.each(function() {
                    $(this).prop('readonly', false);
                });
                inputFieldDiscountValue.each(function() {
                    $(this).prop('readonly', false);
                });
                $.ajax({
                    url: 'get_installment_values',
                    data: {installment_values: newValue3,
                            installments: newValue2},
                    method: 'POST',
                    success: function(data) {
                        var value = data.result
                        inputFieldInstallmentValue.val(value)
                        iznosCells.forEach(cell => {
                            cell.value = value;
                            console.log('vrednost rate-- posle izmene rednog broja rate: ', cell.innerText);

                            const selectedServiceText = selectFieldServiceItem.find('option:selected').text();
                            // Nova logika za selectedInstallmentText
                            let selectedInstallmentText = "";
                            const options = selectFieldInstallment.find('option').not(':first'); // Izuzimamo prvu opciju ('selektujte ratu')
                            if (options.length > 1) {
                                selectedInstallmentText = ` / ${selectFieldInstallment.find('option:selected').text()}`;
                            }



                            inputFieldPurposeOfPayment.prop('value', (selectedServiceText + selectedInstallmentText).trim()); 
                            inputFieldPurposeOfPayment.prop('disabled', false);
                            inputFieldPurposeOfPayment.prop('placeholder', "da bi ste sačuvali zaduženje potrebno je uneti svrhu uplate");
                            if (inputFieldPurposeOfPayment.val().length > 35) {
                                buttonSave.prop('disabled', true);
                                inputFieldPurposeOfPayment.addClass("error-result");
                                errorMessage.show(); // Prikazati errorMessage
                            } else {
                                buttonSave.prop('disabled', false);
                                inputFieldPurposeOfPayment.removeClass("error-result"); // Uklonite error klase ako nisu potrebne
                                errorMessage.hide(); // Sakrijte errorMessage ako nije potrebno
                            }
                        });
                        dataChanged(); // call function
                    }
                })
            }
        });
        const errorMessage = $("#errorMessage");
        inputFieldPurposeOfPayment.on('input', function() {
            if (inputFieldPurposeOfPayment.val() === "") {
                buttonSave.prop('disabled', true);
                errorMessage.hide(); // Sakrijte errorMessage
            } else if (inputFieldPurposeOfPayment.val().length > 35) {
                buttonSave.prop('disabled', true);
                inputFieldPurposeOfPayment.addClass("error-result");
                errorMessage.show(); // Prikazati errorMessage
            } else {
                buttonSave.prop('disabled', false);
                inputFieldPurposeOfPayment.removeClass("error-result"); // Uklonite error klase ako nisu potrebne
                errorMessage.hide(); // Sakrijte errorMessage ako nije potrebno
            }
        });
        buttonZaduziSve.on('click', function() {
            // Selektujte tabelu sa ID-om "data" koristeći jQuery
            var $tabela = $('#data');

            // Selektujte sve input elemente u sedmoj koloni "Količina" unutar tabele
            var $kolicinaInputElements = $tabela.find('tbody tr td:nth-child(5) input');

            //čita vrednost iz input elementa koju treba da dodeli svim redovima
            var vrednost = inputZaduziSveKolicina.val();

            // Inicijalizujte prazan niz za čuvanje izvučenih vrednosti
            var kolicinaVrednosti = [];
            $kolicinaInputElements.each(function(){
                $(this).prop('value', vrednost);
                var id = $(this).attr('id').split("_")[1];
                console.log('debug this.id: ',  id)
                dataChanged(id);
            });
        });

        // Onemogućavanje polja
        function disableFields() {
            selectFieldSection.prop('disabled', true);
            selectFieldInstallment.prop('disabled', true);
            selectFieldServiceItem.prop('disabled', true);
            inputFieldInstallmentValue.val("----");
            iznosCells.forEach(cell => {
                cell.value = 0;
            });
            inputFieldPurposeOfPayment.val("");
            inputFieldPurposeOfPayment.prop('disabled', true);
            buttonSave.prop('disabled', true);
        }

        // ograničava vrednosti u intervalu min-max za svaki input element u koloni 'Količina'
        // function proveraVrednostiKolicine() {
        //     // Selektujte sve input elemente u sedmoj koloni "Količina" unutar tabele
        //     var $kolicinaInputElements = $('#data tbody tr td:nth-child(5) input');

        //     // Dodajte događaj za unos (input event) na svako input polje
        //     $kolicinaInputElements.on('input', function() {
        //         // Izvucite trenutnu vrednost iz input polja
        //         var vrednost = parseFloat($(this).val());

        //         // Izvucite min i max vrednosti iz određenih input polja (promenite selektor prema vašem HTML-u)
        //         var $minInput = $('#minInput'); // Promenite ovaj selektor prema stvarnom HTML-u
        //         var $maxInput = $('#maxInput'); // Promenite ovaj selektor prema stvarnom HTML-u
        //         var min = parseFloat($minInput.val());
        //         var max = parseFloat($maxInput.val());

        //         // Proverite da li je vrednost manja od minimuma
        //         if (vrednost < min) {
        //             // Ako je manja, postavite vrednost na minimum
        //             $(this).val(min);
        //         }

        //         // Proverite da li je vrednost veća od maksimuma
        //         if (vrednost > max) {
        //             // Ako je veća od maksimuma, postavite vrednost na prve dve cifre
        //             var prveDveCifre = Math.floor(vrednost / 10); // Dobijanje prve dve cifre
        //             $(this).val(prveDveCifre);
        //         }
        //     });
        // }

        // // Pozovite funkciju za proveru vrednosti količine
        // proveraVrednostiKolicine();


        // Inicijalno onemogućavanje polja
        disableFields();
    });
</script>
<script>
    // skripta koja prikuplja sve filtere prosleđuje ih u backend za kreranje zadužejna (StudentDebt) i zapisa transakcija (TransactionRecord)
    const buttonSave = $('#save_button');
    const inputFieldPurposeOfPayment = $('#purpose_of_payment');

    buttonSave.on('click', (event) => {
        var selectClass = $('#classes').val();
        var selectSection = $('#section').val();
        var selectServiceItem = $('#service_item').val()
        var selectInstallmentNumber = $('#installment').val()
        // var selectInstallmentValue = $('#installment_value').val() // može da se izvuče podatak na osnovu service_item ID
        var listStudentId = 'provali rešenje'
        var listInstallmentAmount = 'provali rešenje'
        var listDiscount = 'provali rešenje'
        console.log('razred: ', selectClass);
        console.log('odeljenje: ', selectSection);
        console.log('detalji usluge: ', selectServiceItem);
        console.log('rata: ', selectInstallmentNumber);
        var table = $('#data');
        var rows = table.find('tr');
        console.log('redovi: ', rows)
        console.log('broj redova: ', rows.length)
        var records = []
        for (var i = 0; i < rows.length; i++) {
            var quantityCell = rows[i].querySelector('[id^="kolicina_"]');
            if (quantityCell) {
                if (quantityCell) { // Provera da li je ćelija za količinu prisutna
                    var quantity = parseFloat(quantityCell.value);
                    var studentIdCell = rows[i].querySelector('[id^="poziv_na_broj_"]');
                    var studentId = studentIdCell.id.split('_')[3];
                    var olaksicaCell = rows[i].querySelector('[id^="olaksice_"]');
                    var olaksica = parseFloat(olaksicaCell.value);
                    
                    console.log('Student ID:', studentId);
                    console.log('Količina:', quantity);
                    console.log('Olakšica:', olaksica);
                    
                    // Ovde možete dodati svoju logiku za dalju obradu podataka
                    records.push({
                        'student_id': studentId,
                        'amount': quantity,
                        'discount': olaksica
                    })
                }
            }
        }
        console.log('podaci: ', records)
        const output = {
            'class': selectClass,
            'section': selectSection,
            'service_item': selectServiceItem,
            'installment': selectInstallmentNumber,
            'purpose_of_payment': inputFieldPurposeOfPayment.val(),
            'records': records,
        }
        console.log('output: ', output)
        console.log(JSON.stringify(output));
        $.ajax({
            url: 'submit_records',
            method: 'POST',
            data: JSON.stringify(output),
            contentType: 'application/json',
            success: function(response) {
                // Uspešan AJAX zahtjev
                // Preusmjeravanje na edit debt stranicu
                console.log('debug: ', response)
                var editDebtUrl = "{{ url_for('transactions.debt_archive', debt_id='1') }}";
                editDebtUrl = editDebtUrl.replace(/\/1$/, '/' + response);
                window.location.href = editDebtUrl;
            }
        })
        buttonSave.prop('disabled', true);
    })
</script>
<script>
    $(document).ready(function() {
        // Inicijalizujte Select2 komponentu
        $('.js-example-basic-single').select2({
            theme: "classic"
        });
    });
</script>

{% endblock %}