{% extends "layout.html" %}
{% block content %}
<!-- ovo su učitelji: {{teachers}} -->
<div class="form-group" style="display: inline-block;">
    <label for="classes" class="form-control-label">Razred</label>
    <select name="classes" id="classes" class="form-select">
        <option value="">Selektujte razred</option>
        {% for i in range(0,9) %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group" style="display: inline-block;">
    <label for="section" class="form-control-label">Odeljenje</label>
    <select name="section" id="section" class="form-select" disabled>
        <option value="">Selektujte odeljenje</option>
        {% for i in range(1,15) %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group" style="display: inline-block;">
    <label for="service_item" class="form-control-label">Usluga</label>
    <select name="service_item" id="service_item" class="form-select js-example-basic-single" disabled>
        <option value="0">Selektujte uslugu</option>
    </select>
</div>
<div class="form-group" style="display: inline-block;">
    <label for="installment" class="form-control-label">Rata</label>
    <select name="installment" id="installment" class="form-select" disabled>
        <option value="">Selektujte ratu</option>
        {% for service in services %}
            <option value="">work in progress</option>
        {% endfor %}
    </select>
</div>
<div class="form-group" style="display: inline-block;">
    <label for="installment_value">Iznos</label>
    <input name="installment_value" id="installment_value" type="text" class="form-control" value="---" readonly>
</div>
<div class="form-group" style="display: inline-block;">
    <label for="today_date" class="form-control-label">Datum</label>
    <input type="date" id="today_date" class="form-control" readonly>
</div>
<table id="data" class="table table-striped dataTable no-footer invoices" role="grid" aria-describedby="data_info" style="width: 968px;">
    <thead>
        <tr role="row">
            <th>Učenik</th>
            <th>Razred</th>
            <th>Odeljenje</th>
            <th>Poziv na broj</th>
            <th>Usluga</th>
            <th>Količina</th>
            <th>Iznos</th>
            <th>Olakšica</th>
            <th>iznos zaduženja</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr class="odd">
            <td>{{ student.student_name }} {{ student.student_surname }}</td>
            <td>{{ student.student_class }}</td>
            <td>{{ student.student_section }}</td>
            <td id="poziv_na_broj_{{ student.id }}"></td>
            <td id="usluga_{{ student.id }}"></td>
            <td id="kolicina_{{ student.id }}">0</td> <!-- dodati input element unutar ovog td -->
            <td id="iznos-{{ student.id }}">0</td>
            <td id="olaksice_{{ student.id }}">0</td>
            <td id="iznos_zaduženja_{{ student.id }}">0</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="form-group">
    <label for="purpose_of_payment" class="form-control-label" title="max 35 karaktera">Svrha uplate ----- "max 35 karaktera" pocrveneti ceo input element ukoliko ima više od 35 karaktera. deaktiviraj dugme 'sačuvajte' ukoliko ima više od 35 karaktera</label>
    <input type="text" id="purpose_of_payment" name="purpose_of_payment" class="form-control form-control-lg" disabled>
</div>
<div class="form-group">
    <button class="btn btn-info" id="save_button" disabled>Sačuvajte</button>
</div>
{% endblock content %}

{% block scripts %}
<script>
    function dataChanged() {
        const inputFieldInstallmentValue = $('#installment_value');
        const kolicinaCells = document.querySelectorAll('[id^="kolicina_"]');

        // Iteriranje kroz svaki red u tabeli
        $('#data tbody tr').each(function() {
            // Postavljanje slušaoca događaja za klik na td elementu za količinu
            $(this).find('td:nth-child(6)').on('click', function() {
            var currentValue = $(this).text().trim();
            console.log('trenutna vrednost: ', currentValue)
            var inputElement = $('<input class="form-control form-control-lg" type="number" value="' + currentValue + '">');

            $(this).html(inputElement.attr({ "value": currentValue }));
            // inputElement.attr({ "value": currentValue })
            inputElement.focus();

            // Postavljanje slušaoca događaja blur na input elementu
            inputElement.on('blur', function() {
                var newValue = $(this).val().trim();
                $(this).parent().text(newValue);

                recalculateResults(); // Ponovno izračunavanje rezultata nakon promene vrednosti
            });
            });

            // Postavljanje slušaoca događaja za klik na td elementu za olakšice
            $(this).find('td:nth-child(8)').on('click', function() {
            var currentValue = $(this).text().trim();
            var inputElement = $('<input class="form-control form-control-lg" type="number" step="0.01" pattern="^\d+(\.\d{1,2})?$" value="' + currentValue + '">');

            $(this).html(inputElement);
            inputElement.focus();

            // Postavljanje slušaoca događaja blur na input elementu
            inputElement.on('blur', function() {
                var newValue = $(this).val().trim();
                $(this).parent().text(newValue);

                recalculateResults(); // Ponovno izračunavanje rezultata nakon promene vrednosti
            });
            });
        });

        // Funkcija za ponovno izračunavanje rezultata
        function recalculateResults() {
            $('#data tbody tr').each(function() {
            var kolicina = parseFloat($(this).find('td:nth-child(6)').text());
            var iznos = parseFloat(inputFieldInstallmentValue.val());
            var olaksice = parseFloat($(this).find('td:nth-child(8)').text());

            var iznos_zaduzenja = kolicina * iznos - olaksice;
            $(this).find('td:nth-of-type(9)').text(iznos_zaduzenja);
            });
        }

        // Postavljanje slušaoca događaja change na polju za unos
        inputFieldInstallmentValue.on('change', recalculateResults);
        inputFieldInstallmentValue.trigger('change');
    }


    $(document).ready(function() {
        const selectFieldClasses = $('#classes');
        const selectFieldSection = $('#section');
        const selectFieldServiceItem = $('#service_item'); //
        const selectFieldInstallment = $('#installment'); //
        const inputFieldInstallmentValue = $('#installment_value');
        const pozivNaBrojCells = $('[id^="poziv_na_broj_"]'); ///
        const uslugaCells = $('[id^="usluga_"]'); ///
        const inputIznos = $('#installment_value'); ///

        const iznosCells = document.querySelectorAll('[id^="iznos-"]');
        const inputFieldPurposeOfPayment = $('#purpose_of_payment');
        const buttonSave = $('#save_button');
        const buttonPrint = $('#print_button');

        const today = new Date().toISOString().substr(0, 10); // Get today's date in ISO format (yyyy-mm-dd)
        document.getElementById("today_date").value = today;

        // Krerira tabelu
        var table = $('#data').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
            }
        });

        // Prazna tabela
        table.column(1).search("0").draw();

        // Filter po razredu
        selectFieldClasses.on('change', function() {
            const classes = $(this).val();
            const section = "";
            table.column(1).search(classes).draw();
            table.column(2).search(section).draw();
        });

        // Filter po odeljenju
        selectFieldSection.on('change', function() {
            const section = $(this).val();
            table.column(2).search(section).draw();
        });

        // Dropdown: RAZRED
        selectFieldClasses.on('change', function() {
            const newValue = selectFieldClasses.val();
            if(selectFieldClasses.val() === "") {
                console.log('selectkovani razred: ', selectFieldClasses.val());
                selectFieldSection.prop('disabled', true);
                selectFieldSection.prop('value', "");
                selectFieldServiceItem.prop('disabled', true);
                selectFieldServiceItem.prop('value', 0);
                selectFieldInstallment.prop('disabled', true);
                selectFieldInstallment.prop('value', 0);
                inputFieldPurposeOfPayment.prop('value', "");
                inputFieldPurposeOfPayment.prop('disabled', true);
                buttonSave.prop('disabled', true);
                buttonPrint.prop('disabled', true);
            } else {
                console.log('selectkovani razred: ', selectFieldClasses.val());
                selectFieldSection.prop('disabled', false);
                selectFieldSection.prop('value', "");
                selectFieldServiceItem.prop('disabled', true);
                selectFieldServiceItem.prop('value', 0);
                selectFieldInstallment.prop('disabled', true);
                selectFieldInstallment.prop('value', 0);
                inputFieldPurposeOfPayment.prop('value', "");
                inputFieldPurposeOfPayment.prop('disabled', true);
                buttonSave.prop('disabled', true);
                buttonPrint.prop('disabled', true);
                inputFieldInstallmentValue.prop('value', "----");
                $.ajax({
                    url: 'get_service_items',
                    data: {classes: newValue},
                    method: 'POST',
                    success: function(data) {
                        inputFieldPurposeOfPayment.prop('value', "");
                        inputFieldPurposeOfPayment.prop('disabled', true);
                        buttonSave.prop('disabled', true);
                        buttonPrint.prop('disabled', true);
                    }
                })
                dataChanged(); // call function
            }
        });
        // dropdown: Odeljenje
        selectFieldSection.on('change', function() {
            const newValue = selectFieldClasses.val();
            const newValue4 = selectFieldSection.val()
            console.log('selectkovano odeljenje - nova vrednost: ', newValue4);
            if (selectFieldSection.val() === "0") {
                console.log('selektovano odeljenje je 0');
                selectFieldServiceItem.prop('disabled', true);
                selectFieldServiceItem.prop('value', 0);
                selectFieldInstallment.prop('disabled', true);
                selectFieldInstallment.prop('value', 0);
                inputFieldPurposeOfPayment.prop('value', "");
                inputFieldPurposeOfPayment.prop('disabled', true);
                buttonSave.prop('disabled', true);
                buttonPrint.prop('disabled', true);
            } else {
                console.log('nastavi kod')
                selectFieldInstallment.prop('disabled', true);
                selectFieldInstallment.prop('value', 0);
                inputFieldPurposeOfPayment.prop('value', "");
                inputFieldPurposeOfPayment.prop('disabled', true);
                buttonSave.prop('disabled', true);
                buttonPrint.prop('disabled', true);
                $.ajax({
                    url: 'get_service_items',
                    data: {classes: newValue},
                    method: 'POST',
                    success: function(data) {
                        selectFieldServiceItem.html(data);
                        selectFieldServiceItem.prop('disabled', false);
                        inputFieldPurposeOfPayment.prop('value', "");
                        inputFieldPurposeOfPayment.prop('disabled', true);
                        buttonSave.prop('disabled', true);
                        buttonPrint.prop('disabled', true);
                    }
                })
                dataChanged(); // call function
            }
        })


        // dropdown: Usluga
        selectFieldServiceItem.on('change', function() {
            const newValue2 = selectFieldServiceItem.val();
            console.log('selectkovani usluga nova vrednost: ', newValue2);
            if(selectFieldServiceItem.val() === "0") {
                console.log('selectkovani usluga je nula');
                selectFieldInstallment.prop('disabled', true);
                selectFieldInstallment.prop('value', "");
                inputFieldPurposeOfPayment.prop('value', "");
                inputFieldPurposeOfPayment.prop('disabled', true);
                buttonSave.prop('disabled', true);
                buttonPrint.prop('disabled', true);
            } else {
                $.ajax({
                    url: 'get_installments',
                    data: {installments: newValue2},
                    method: 'POST',
                    success: function(data) {
                        selectFieldInstallment.html(data);
                        selectFieldInstallment.prop('disabled', false);
                        inputFieldInstallmentValue.prop('value', "----");
                        inputFieldPurposeOfPayment.prop('value', "");
                        inputFieldPurposeOfPayment.prop('disabled', true);
                        buttonSave.prop('disabled', true);
                        buttonPrint.prop('disabled', true);

                        const selectedServiceId = selectFieldServiceItem.val();
                        const selectedServiceText = selectFieldServiceItem.find('option:selected').text();

                        pozivNaBrojCells.each(function() {
                            const studentId = this.id.split('_')[3];
                            $(this).text(`${studentId.padStart(4, '0')}-${selectedServiceId.padStart(3, '0')}`);
                        });
                        uslugaCells.each(function() {
                            $(this).text(`${selectedServiceText}`); // ovaj tekst mi treba i na drugom mestu
                        });
                    },
                })                    
                dataChanged(); // call function
            }
        });

        // dropdown: RATA
        selectFieldInstallment.on('change', function() {
            const newValue3 = selectFieldInstallment.val();
            const newValue2 = selectFieldServiceItem.val();
            console.log(newValue2)
            console.log('rata broj: ', newValue3);
            if(selectFieldInstallment.val() === "0") {
                inputFieldInstallmentValue.prop('value', "----")
                iznosCells.forEach(cell => {
                    cell.innerText = 0;
                });
                inputFieldPurposeOfPayment.prop('value', "");
                inputFieldPurposeOfPayment.prop('disabled', true);
                buttonSave.prop('disabled', true);
                buttonPrint.prop('disabled', true);
            } else {
                $.ajax({
                    url: 'get_installment_values',
                    data: {installment_values: newValue3,
                            installments: newValue2},
                    method: 'POST',
                    success: function(data) {
                        var value = data.result
                        inputFieldInstallmentValue.val(value)
                        iznosCells.forEach(cell => {
                            cell.innerText = value;
                            console.log('vrednost rate-- posle izmene rednog broja rate: ', cell.innerText);

                            const selectedServiceText = selectFieldServiceItem.find('option:selected').text();
                            const selectedInstallmentText = selectFieldInstallment.find('option:selected').text(); // ovde treba dodati if form da ako ima samo jena rata da const bude "" (prazan string)



                            inputFieldPurposeOfPayment.prop('value', selectedServiceText + ' / ' + selectedInstallmentText); // izmeniti tako da vrednost bude kombinacija usluga + kasnije ime i prezime učenika kada generiše uplatnicu
                            inputFieldPurposeOfPayment.prop('disabled', false);
                            inputFieldPurposeOfPayment.prop('placeholder', "da bi ste sačuvali zaduženje potrebno je uneti svrhu uplate");
                            buttonSave.prop('disabled', false);
                            buttonPrint.prop('disabled', true);
                        });
                        dataChanged(); // call function
                    }
                })
            }
        });
        inputFieldPurposeOfPayment.on('input', function() {
            if(inputFieldPurposeOfPayment.val() === "") {
                buttonSave.prop('disabled', true)
                buttonPrint.prop('disabled', true)
            } else {
                buttonSave.prop('disabled', false)
            }
        })


        // Onemogućavanje polja
        function disableFields() {
            selectFieldSection.prop('disabled', true);
            selectFieldInstallment.prop('disabled', true);
            selectFieldServiceItem.prop('disabled', true);
            inputFieldInstallmentValue.val("----");
            iznosCells.forEach(cell => {
                cell.innerText = 0;
            });
            inputFieldPurposeOfPayment.val("");
            inputFieldPurposeOfPayment.prop('disabled', true);
            buttonSave.prop('disabled', true);
            buttonPrint.prop('disabled', true);
        }

        // Inicijalno onemogućavanje polja
        disableFields();
    });
</script>
<script>
    // skripta koja prikuplja sve filtere prosleđuje ih u backend za kreranje zadužejna (StudentDebt) i zapisa transakcija (TransactionRecord)
    const buttonSave = $('#save_button');
    const buttonPrint = $('#print_button');
    const inputFieldPurposeOfPayment = $('#purpose_of_payment');

    buttonSave.on('click', (event) => {
        var selectClass = $('#classes').val();
        var selectSection = $('#section').val();
        var selectServiceItem = $('#service_item').val()
        var selectInstallmentNumber = $('#installment').val()
        // var selectInstallmentValue = $('#installment_value').val() // može da se izvuče podatak na osnovu service_item ID
        var listStudentId = 'provali rešenje'
        var listInstallmentAmount = 'provali rešenje'
        var listDiscount = 'provali rešenje'
        console.log('razred: ', selectClass);
        console.log('odeljenje: ', selectSection);
        console.log('detalji usluge: ', selectServiceItem);
        console.log('rata: ', selectInstallmentNumber);

        var table = $('#data');
        var rows = table.find('tr');
        console.log('redovi: ', rows)
        console.log('broj redova: ', rows.length)
        var records = []
        for (var i = 0; i < rows.length; i++) {
            var quantityCell = rows[i].querySelector('[id^="kolicina_"]');
            if (quantityCell !== null && quantityCell.textContent !== null) {
                var quantity = parseInt(quantityCell.textContent);
                console.log('količina: ', quantity)
                
                if ((rows[i].querySelector('[id^="poziv_na_broj_"]'))) {
                    var studentIdCell = rows[i].querySelector('[id^="poziv_na_broj_"]');
                    var studentId = studentIdCell.id.split('_')[3];
                    
                    var olaksicaCell = rows[i].querySelector('[id^="olaksice_"]');
                    var olaksica = parseInt(olaksicaCell.textContent);
                    
                    console.log('Student ID:', studentId);
                    console.log('Količina:', quantity);
                    console.log('Olakšica:', olaksica);
                    
                    // Ovde možete dodati svoju logiku za dalju obradu podataka
                    records.push({
                        'student_id': studentId,
                        'amount': quantity,
                        'discount': olaksica
                    })
                }
            }
        }
        console.log('podaci: ', records)
        const output = {
            'class': selectClass,
            'section': selectSection,
            'service_item': selectServiceItem,
            'installment': selectInstallmentNumber,
            'purpose_of_payment': inputFieldPurposeOfPayment.val(),
            'records': records,
        }
        console.log('output: ', output)
        console.log(JSON.stringify(output));
        $.ajax({
            url: 'submit_records',
            method: 'POST',
            data: JSON.stringify(output),
            contentType: 'application/json',
            success: function(response) {
                // Uspešan AJAX zahtjev
                // Preusmjeravanje na edit debt stranicu
                var editDebtUrl = "{{ url_for('transactions.debt_archive', debt_id='1') }}";
                editDebtUrl = editDebtUrl.replace('1', response);
                window.location.href = editDebtUrl;
            }
        })
        buttonSave.prop('disabled', true);
        buttonPrint.prop('disabled', false);
    })
</script>
<script>
    $(document).ready(function() {
        // Inicijalizujte Select2 komponentu
        $('.js-example-basic-single').select2({
            theme: "classic"
        });
    });
</script>

{% endblock %}