{% extends "layout.html" %}
{% block content %}
<h2>ovo je lista dobavljača</h2>
<a href="#" class="btn btn-info" data-toggle="modal" data-target="#RegisterModal">Registracija novog dobavljača</a>
<table id="data" class="table table-striped dataTable no-footer invoices" role="grid" aria-describedby="data_info" style="width: 968px;">
    <thead>
        <tr role="row">
            <th>ID dobavljača</th>
            <th>Naziv dobavljača</th>
            <th>Aktivnosti</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr class="odd">
            <td>{{ supplier.id }}</td>
            <td>{{ supplier.supplier_name }}</td>
            <td><a href="#" class="btn btn-info" data-toggle="modal" data-target="#EditModal{{supplier.id}}">edit</a> {% if supplier.archived %} arhiviran {% endif %}</td>
        </tr>
        <!-- Modal Edit -->
        <div class="modal fade" id="EditModal{{supplier.id}}" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="EditModalLabel">Detalji dobavljača</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body">
                <label for="input_password">Izmenite podatke dobavljača: {{supplier.supplier_name}}</label>
                <hr>
                <form action="" method="POST">
                    {{ edit_form.hidden_tag() }}
                    <div>
                        <label for="supplier_id" class="form-control-label">ID dobavljača</label>
                        <input class="form-control form-control-lg" value="{{supplier.id}}" id="supplier_id" name="supplier_id" readonly>
                    </div>
                    <div class="form-group">
                        {{ edit_form.supplier_name.label(class="form-control-label") }}
                        {% if edit_form.supplier_name.errors %}
                            {{ edit_form.supplier_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in edit_form.supplier_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ edit_form.supplier_name(class="form-control form-control-lg", value=supplier.supplier_name) }}
                        {% endif %}
                    </div>
                    <div class="form-check form-switch">
                        {% set z = edit_form.archived.process_data(supplier.archived) %}
                        {{ edit_form.archived(class="form-check-input", value=supplier.archived ) }}
                        {{ edit_form.archived.label(class="form-check-label") }}
                    </div>
                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkažite</button>
                            {{ edit_form.submit_edit(class="btn btn-info") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </tbody>
</table>

<!-- Modal Register -->
<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RegisterModalLabel">Registracija novog dobavljača</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
        <label for="input_password">Popunite podatke dobavljača</label>
        <form action="" method="POST">
            {{ register_form.hidden_tag() }}
            <div class="form-group">
                {{ register_form.supplier_name.label(class="form-control-label") }}
                {% if register_form.supplier_name.errors %}
                    {{ register_form.supplier_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in register_form.supplier_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ register_form.supplier_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkažite</button>
                    <div class="form-group"></div>
                        {{ register_form.submit_register(class="btn btn-outline-info") }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content%}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                    columnDefs: [
                    {
                        // targets: [5],
                        visible: false,
                        searchable: true,
                    },
                ],
                // order: [[3, 'desc'], [4, 'desc']],
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
                }
            });
        });
    </script>

{% endblock %}