{% extends "layout.html" %}
{% block content %}
<style>
    @media (max-width: 991px)  {
        .mobtable td:nth-of-type(1):before { content: "ID starešine"; }
        .mobtable td:nth-of-type(2):before { content: "Ime"; }
        .mobtable td:nth-of-type(3):before { content: "Prezime"; }
        .mobtable td:nth-of-type(4):before { content: "Razred"; }
        .mobtable td:nth-of-type(5):before { content: "Odeljenje"; }
        {% if not license_expired %}
        .mobtable td:nth-of-type(6):before { content: "Akcije"; }
        {% endif %}
    }
</style>
<div class="row form-group align-items-end">
    <div class="col form-group">
        {% if not license_expired %}
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#RegisterModal">Registracija novog odeljenskog starešine</a>
        {% endif %}
    </div>
    <div class="col form-group">
        <label for="searchRazred">Pretraga po razredu:</label>
        <select id="searchRazred" class="form-select">
            <option value="">Svi razredi</option>
            {% for class in range(9) %}
                <option value="{{ class }}">{{ class }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="col form-group">
        <label for="searchOdeljenje">Pretraga po odeljenju:</label>
        <select id="searchOdeljenje" class="form-select">
            <option value="">Sva odeljenja</option>
            {% for section in range(16) %}
                <option value="{{ section }}">{{ section }}</option>
            {% endfor %}
        </select>
    </div>
    <hr>
</div>
<table id="data" class="table table-striped dataTable no-footer invoices mobtable" role="grid" aria-describedby="data_info" style="width: 968px;">
    <thead>
        <tr role="row">
            <th>ID starešine</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Razred</th>
            <th>Odeljenje</th>
            {% if not license_expired %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for teacher in teachers %}
        <tr class="odd">
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.teacher_name }}</td>
            <td>{{ teacher.teacher_surname }}</td>
            <td>{{ teacher.teacher_class }}</td>
            <td>{{ teacher.teacher_section }}</td>
            {% if not license_expired %}
            <td><a href="#" class="btn-x btn-info-x" data-toggle="modal" data-target="#EditModal{{teacher.id}}" title="Izmenite profil starešine"><i class="fa fa-edit awesomeedit" aria-hidden="true"></i></a>
                <a href="#" class="btn-x btn-danger-x" data-toggle="modal" data-target="#DeleteModal{{teacher.id}}" title="Obrišite profil starešine"><i class="fa-regular fa-trash-can awesomedelete" aria-hidden="true"></i></a></td>
        </tr>
        <!-- Modal Delete -->
        <div class="modal fade" id="DeleteModal{{teacher.id}}" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="DeleteModalLabel">Potvrda</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body">
                    <label for="input_password">Da bi ste obrisali profil odeljenskog starešine "{{ teacher.teacher_name }} {{ teacher.teacher_surname }}" potrebno je potvrditi svojom lozinkom:</label>
                    <form action="{{ url_for('teachers.delete_teacher', teacher_id=teacher.id) }}" method="post">
                        <input class="form-control" type="password" id="input_password" name="input_password" value="" placeholder="potvrdite lozinkom">
                    
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkažite</button>
                        <input class="btn btn-danger" type="submit" value="Obrišite profil odeljenskog rarešine">
                    </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Edit -->
        <div class="modal fade" id="EditModal{{teacher.id}}" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="EditModalLabel">Detalji odeljenskog starešine</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body">
                <form action="" method="POST">
                    {{ edit_form.hidden_tag() }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ edit_form.teacher_name.label(class="form-control-label") }}
                                {% if edit_form.teacher_name.errors %}
                                    {{ edit_form.teacher_name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in edit_form.teacher_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ edit_form.teacher_name(class="form-control form-control-lg", value=teacher.teacher_name) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ edit_form.teacher_surname.label(class="form-control-label") }}
                                {% if edit_form.teacher_surname.errors %}
                                    {{ edit_form.teacher_surname(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in edit_form.teacher_surname.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ edit_form.teacher_surname(class="form-control form-control-lg", value=teacher.teacher_surname) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ edit_form.teacher_class.label(class="form-control-label") }}
                                {% if edit_form.teacher_class.errors %}
                                    {{ edit_form.teacher_class(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in edit_form.teacher_class.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% set z = edit_form.teacher_class.process_data(teacher.teacher_class) %}
                                    {{ edit_form.teacher_class(class="form-select form-select-lg", value=teacher.teacher_class) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ edit_form.teacher_section.label(class="form-control-label") }}
                                {% if edit_form.teacher_section.errors %}
                                {{ edit_form.teacher_section(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                        {% for error in edit_form.teacher_section.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% set z = edit_form.teacher_section.process_data(teacher.teacher_section) %}
                                    {{ edit_form.teacher_section(class="form-select form-select-lg", selected=teacher.teacher_section) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="teacher_id" class="form-control-label">ID odeljenskog starešine</label>
                                <input id="teacher_id" name="teacher_id" type="text" class="form-control" value="{{teacher.id}}" readonly>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkažite</button>
                            {{ edit_form.submit_edit(class="btn btn-primary") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<!-- Modal Register -->
<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RegisterModalLabel">Registracija novog odeljenskog starešine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
        <label for="input_password">Popunite podatke profila odeljenskog starešine</label>
        <form action="" method="POST">
            {{ register_form.hidden_tag() }}
            <div class="form-group">
                {{ register_form.teacher_name.label(class="form-control-label") }}
                {% if register_form.teacher_name.errors %}
                    {{ register_form.teacher_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in register_form.teacher_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ register_form.teacher_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ register_form.teacher_surname.label(class="form-control-label") }}
                {% if register_form.teacher_surname.errors %}
                    {{ register_form.teacher_surname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in register_form.teacher_surname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ register_form.teacher_surname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ register_form.teacher_class.label(class="form-control-label") }}
                {% if register_form.teacher_class.errors %}
                    {{ register_form.teacher_class(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in register_form.teacher_class.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ register_form.teacher_class(class="form-select form-select-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ register_form.teacher_section.label(class="form-control-label") }}
                {% if register_form.teacher_section.errors %}
                    {{ register_form.teacher_section(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in register_form.teacher_section.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ register_form.teacher_section(class="form-select form-select-lg") }}
                {% endif %}
            </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkažite</button>
                    <div class="form-group"></div>
                        {{ register_form.submit_register(class="btn btn-primary") }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content%}

{% block scripts %}
    <script>
        $(document).ready(function () {
            var table = $('#data').DataTable({
                    columnDefs: [
                    {
                        // targets: [5],
                        visible: false,
                        searchable: true,
                    },
                ],
                order: [[3, 'desc'], [4, 'desc']],
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
                }
            });
            $('#searchRazred').on('change', function () {
                var selectedValue = $(this).val();
                table.column(3).search(selectedValue).draw();
            });

            $('#searchOdeljenje').on('change', function () {
                var selectedValue = $(this).val();
                table.column(4).search(selectedValue).draw();
            });
        });
    </script>

{% endblock scripts%}