{% extends "layout.html" %}
{% block content %}
<style>
    @media (max-width: 991px)  {
        .mobtable td:nth-of-type(1):before { content: "Datum"; }
        .mobtable td:nth-of-type(2):before { content: "Tip"; }
        .mobtable td:nth-of-type(3):before { content: "Učenik"; }
        .mobtable td:nth-of-type(4):before { content: "Detalji"; }
        .mobtable td:nth-of-type(5):before { content: "Iznos"; }
        .mobtable td:nth-of-type(6):before { content: "Napomena"; }
        .mobtable td:nth-of-type(7):before { content: "Akcije"; }
    }
    .badge-transfer {
        background-color: #104e97;
    }
    .badge-writeoff {
        background-color: #b40164;
    }
</style>
<h2>Lista preknjižavanja i rasknjižavanja</h2>
<div class="row align-items-end">
    <div class="col">
        <label for="start-date" class="form-label">Početni datum:</label>
        <input class="form-control" type="date" id="start-date" name="start-date" value="{{ start_date }}">
    </div>
    <div class="col">
        <label for="end-date" class="form-label">Krajnji datum:</label>
        <input class="form-control" type="date" id="end-date" name="end-date" value="{{ end_date }}">
    </div>
    <div class="col">
        <a class="btn btn-danger" href="{{ url_for('transactions.transfers_list') }}">Reset filtera</a>
    </div>
</div>
<hr>
<table id="data" class="table table-striped dataTable no-footer invoices mobtable" role="grid">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Datum_python</th>
            <th>Tip</th>
            <th>Učenik</th>
            <th>Detalji</th>
            <th>Iznos</th>
            <th>Napomena</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in combined_list %}
        <tr>
            <td>{{ item.date.strftime('%d.%m.%Y.') }}</td>
            <td>{{ item.date }}</td>
            <td>
                {% if item.type == 'transfer' %}
                <span class="badge badge-transfer">Preknjižavanje</span>
                {% else %}
                <span class="badge badge-writeoff">Rasknjižavanje</span>
                {% endif %}
            </td>
            <td>{{ item.student.student_name }} {{ item.student.student_surname }} ({{ item.student.student_class }}/{{ item.student.student_section }})</td>
            <td>
                {% if item.type == 'transfer' %}
                Sa: {{ item.data.source_service.service_item_service.service_name }} - {{ item.data.source_service.service_item_name }}<br>
                Na: {{ item.data.target_service.service_item_service.service_name }} - {{ item.data.target_service.service_item_name }}
                {% else %}
                {{ item.data.service.service_item_service.service_name }} - {{ item.data.service.service_item_name }}
                {% endif %}
            </td>
            <td>{{ item.amount|round(2) }}</td>
            <td>{{ item.note if item.note else '-' }}</td>
            <td>
                {% if item.type == 'transfer' %}
                <a href="{{ url_for('transactions.view_transfer', transfer_id=item.id) }}" class="btn-x btn-primary-x loading" title="Pregledaj"><i class="fa fa-eye awesomeedit loading" aria-hidden="true"></i></a>
                {% else %}
                <a href="{{ url_for('transactions.view_writeoff', writeoff_id=item.id) }}" class="btn-x btn-primary-x loading" title="Pregledaj"><i class="fa fa-eye awesomeedit loading" aria-hidden="true"></i></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        table = $('#data').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
            },
            "order": [[1, 'desc']],
            "stateSave": true,
            "stateDuration": 900,
            "columnDefs": [
                { "targets": [1], "visible": false }
            ]
        });

        // Funkcija koja se poziva pri promeni datuma
        function handleDateChange() {
            var startDate = document.getElementById("start-date").value;
            var endDate = document.getElementById("end-date").value;
            var url = "{{ url_for('transactions.transfers_list') }}?start_date=" + startDate + "&end_date=" + endDate;
            window.location.href = url;
        }

        // Dodavanje osluškivača događaja za promenu datuma
        document.getElementById("start-date").addEventListener("change", handleDateChange);
        document.getElementById("end-date").addEventListener("change", handleDateChange);
    });
</script>
{% endblock %}
